-- @#LONGSCRIPT#@
-- Accounts. Create fields that are not created in Lantek Integra 2010 version.
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AACC_AACC_00000100' AND COLUMN_NAME = 'BankingRef')
BEGIN
    ALTER TABLE AACC_AACC_00000100 ADD Balance float DEFAULT(0) NOT NULL
    ALTER TABLE AACC_AACC_00000100 ADD BankingRef nvarchar(255) DEFAULT('') NOT NULL
    ALTER TABLE AACC_AACC_00000100 ADD CurName nvarchar(80) DEFAULT('') NOT NULL
    ALTER TABLE AACC_AACC_00000100 ADD Type smallint DEFAULT(1) NOT NULL
END
