-- @#LONGSCRIPT#@

UPDATE MMNN_MMOO_00000100 SET Origin = DEL_DIS_Origin
UPDATE MMNN_MMOO_00000300 SET Origin = DEL_DIS_Origin

-- Updates for MState in KITS
-- MState in DIS_MMNN_MMOO_00000100
UPDATE DIS_MMNN_MMOO_00000200
SET MState = 81
FROM DIS_MMNN_MMOO_00000200 Kits
INNER JOIN PPRR_PPRR_00000100 Products 
	ON Kits.JobRef = Products.DIS_JobRef
WHERE Kits.MState = 90 AND Kits.JobRef <> ''

-- MState in MMNN_MMOO_00000300
UPDATE MMNN_MMOO_00000300
SET MState = 181
FROM MMNN_MMOO_00000300 Operations
INNER JOIN PPRR_PPRR_00000100 Products 
	ON Operations.DIS_JobRef = Products.DIS_JobRef
WHERE Operations.MState = 90 AND Operations.DIS_JobRef <> ''

-- MState in MMNN_MMOO_00000100
UPDATE MMNN_MMOO_00000100
SET MState = 81
FROM MMNN_MMOO_00000100 Orders
INNER JOIN MMNN_MMOO_00000300 Operations 
	ON Orders.MnORef = Operations.MnORef
	INNER JOIN PPRR_PPRR_00000100 Products 
		ON Operations.DIS_JobRef = Products.DIS_JobRef
WHERE Orders.MState = 90 AND Operations.DIS_JobRef <> ''
