-- @#LONGSCRIPT#@

UPDATE PPRR_PPRR_00000100 SET DIS_Checked = DIS_InProgress WHERE DIS_PClass = '56'
UPDATE PPRR_PPRR_00000100 SET DIS_InProgress = '0' WHERE DIS_PClass = '56'

-- Manufacturing profiles must not exist at this version
UPDATE PPRR_PPRR_00000100 SET PType = 1 WHERE DIS_PCLass = 55 



