BEGIN TRANSACTION

DECLARE @translate BIT
SET @translate = 0

DECLARE @defaultPort INT
SET @defaultPort = 48100

DECLARE @parameterValue NVARCHAR(MAX)
select @parameterValue = ParValue FROM SYST_CCPP_00000100 where ParName = 'DIS_STM_InterfaceWithApplications'
IF ISNUMERIC(@parameterValue) = 1
	BEGIN
		SET @translate = 1
		SET @defaultPort = CAST(@parameterValue AS INT)
	END

IF (@translate = 0)
	BEGIN
		IF ((SELECT COUNT(*) FROM SYST_CCPP_00000100 WHERE ParName LIKE 'DIS_STM_InterfaceWithApplications_%') > 0) SET @translate = 1
	END

IF @translate = 1
	BEGIN
		DECLARE @newParameterValue NVARCHAR(MAX)
		SET @newParameterValue = '<INTERFACEAPPS><DEFAULTPORT>' + CAST(@defaultPort AS NVARCHAR(MAX)) + '</DEFAULTPORT><COMPUTERS>'
		
		DECLARE @parameterName NVARCHAR(255)
		DECLARE @computer NVARCHAR (255)
		DECLARE @port INT
		DECLARE @prefixLength INT
		SET @prefixLength = LEN('DIS_STM_InterfaceWithApplications_')
		WHILE ((SELECT COUNT(*) FROM SYST_CCPP_00000100 WHERE ParName LIKE 'DIS_STM_InterfaceWithApplications_%') > 0)
			BEGIN
				SELECT TOP 1 @parameterName = ParName, @parameterValue = ParValue FROM SYST_CCPP_00000100 WHERE ParName like 'DIS_STM_InterfaceWithApplications_%'
				
				SET @computer = SUBSTRING(@parameterName, @prefixLength + 1, LEN(@parameterName) - @prefixLength)
				SET @port = CAST(@parameterValue AS INT)
				SET @newParameterValue = @newParameterValue + '<COMPUTER><NAMEIP>' + @computer + '</NAMEIP><DEFAULTPORT>' + CAST(@port AS NVARCHAR(MAX)) + '</DEFAULTPORT><USERS /></COMPUTER>'
			
				DELETE FROM SYST_CCPP_00000100 WHERE ParName = @parameterName
			END
		SET @newParameterValue = @newParameterValue + '</COMPUTERS></INTERFACEAPPS>'
		
		IF EXISTS(SELECT * FROM SYST_CCPP_00000100 where ParName = 'DIS_STM_InterfaceWithApplications') UPDATE SYST_CCPP_00000100 SET ParValue = @newParameterValue where ParName = 'DIS_STM_InterfaceWithApplications'
		ELSE
			BEGIN
				DECLARE @date DATETIME
				DECLARE @user NVARCHAR(40)
				DECLARE @recEnt NVARCHAR(40)
				DECLARE @recOU NVARCHAR(40)
				DECLARE @recID int

				SET @date = GETDATE()
				SET @user = 'SYSADM'

				SELECT TOP(1) @recEnt = RecEnt, @recOU = RecOU, @recID = RecID FROM SYST_CCPP_00000100 ORDER BY RecID DESC
				SET @recID = @recID + 1

				INSERT INTO SYST_CCPP_00000100 (EType, ParName, ParValue, CrtDate, LastDate, CrtUser, LastUser, Owner, RecEnt, RecOU, RecID) VALUES(-1, 'DIS_STM_InterfaceWithApplications', @newParameterValue, @date, @date, @user, @user, @user, @recEnt, @recOU, @recID)
			END
	END

COMMIT