-- @#LONGSCRIPT#@

-- Modify Subclass name in automatic references of SSHH_PPOO_00000100 with empty subclass values.
UPDATE SYST_AARR_00000300
SET Subclasses = 'Order,Reply'
WHERE TblRef = 'SSHH_PPOO_00000100' AND Subclasses=''
