-- @#LONGSCRIPT#@
-- Accounts. Update fields that are not created in Lantek Integra 2010 version.
DECLARE @AccNum nvarchar(255)
DECLARE @BankRef nvarchar(50)
DECLARE @RecID integer
DECLARE Cuentas CURSOR FOR SELECT AccNum, BankRef, RecID FROM AACC_AACC_00000100 WHERE BankingRef LIKE '' ORDER BY BankRef, AccNum
OPEN Cuentas
FETCH Cuentas INTO @AccNum, @BankRef, @RecID
WHILE (@@FETCH_STATUS = 0)
BEGIN
    UPDATE AACC_AACC_00000100 SET BankingRef=@BankRef + ' ' + @AccNum WHERE RecID=@RecID
    UPDATE SSPP_SSPP_00000100 SET BankingRef=@BankRef + ' ' + @AccNum WHERE AccNum=@AccNum AND Pym=4
    FETCH Cuentas INTO @AccNum, @BankRef, @RecID
END
CLOSE Cuentas
DEALLOCATE Cuentas
