-- @#LONGSCRIPT#@

-- Asignacion de referencias automaticas

UPDATE    SYST_AARR_00000300
SET       Subclasses = 'Beam'
WHERE     (Subclasses = 'Profile')

UPDATE    SYST_AARR_00000300
SET       Subclasses = 'BeamPart'
WHERE     (Subclasses = 'ProfilePart')

-- Configuracion de almacenes

UPDATE    SYST_CCPP_00000100
SET       ParName = 'DIS_WHM_BeamManagement'
WHERE     (ParName = 'DIS_WHM_ProfileManagement')

UPDATE    SYST_CCPP_00000100
SET       ParName = 'DIS_WHM_BeamWarehouse'
WHERE     (ParName = 'DIS_WHM_ProfileWarehouse')

UPDATE    SYST_CCPP_00000100
SET       ParName = 'DIS_WHM_BeamLocation'
WHERE     (ParName = 'DIS_WHM_ProfileLocation')

UPDATE    SYST_CCPP_00000100
SET       ParName = 'DIS_WHM_BeamPartManagement'
WHERE     (ParName = 'DIS_WHM_ProfilePartManagement')

UPDATE    SYST_CCPP_00000100
SET       ParName = 'DIS_WHM_BeamPartWarehouse'
WHERE     (ParName = 'DIS_WHM_ProfilePartWarehouse')

UPDATE    SYST_CCPP_00000100
SET       ParName = 'DIS_WHM_BeamPartLocation'
WHERE     (ParName = 'DIS_WHM_ProfilePartLocation')

--Images upgrade

UPDATE     DIS_PPFF_PPFF_00000100
SET   Image = REPLACE(Image, '%i', './img/profile formats/')

UPDATE     DIS_PPFF_PPFF_00000100
SET   Image = REPLACE(Image, ';', '.bmp')

UPDATE     PPRR_PPRR_00000100
SET   Image = REPLACE(Image, '%i', './img/profile formats/')

UPDATE     PPRR_PPRR_00000100
SET   Image = REPLACE(Image, ';', '.bmp')
