/* Create indexes */
IF NOT EXISTS (SELECT 1 FROM sys.indexes I INNER JOIN sys.tables T ON I.object_id = T.object_id INNER JOIN sys.schemas S ON S.schema_id = T.schema_id WHERE I.Name = 'INTblRefRecId' AND T.Name = 'Lantek360Map' AND S.Name = 'dbo') 
BEGIN
    CREATE NONCLUSTERED INDEX [INTblRefRecId] ON [dbo].[Lantek360Map]([TblRef], [RecID])
END

IF NOT EXISTS (SELECT 1 FROM sys.indexes I INNER JOIN sys.tables T ON I.object_id = T.object_id INNER JOIN sys.schemas S ON S.schema_id = T.schema_id WHERE I.Name = 'INUUID' AND T.Name = 'Lantek360Map' AND S.Name = 'dbo') 
BEGIN
    CREATE NONCLUSTERED INDEX [INUUID] ON [dbo].[Lantek360Map]([UUID])
END

IF NOT EXISTS (SELECT 1 FROM sys.indexes I INNER JOIN sys.tables T ON I.object_id = T.object_id INNER JOIN sys.schemas S ON S.schema_id = T.schema_id WHERE I.Name = 'INRootTblRefRootRecId' AND T.Name = 'Lantek360Map'  AND S.Name = 'dbo') 
BEGIN
    CREATE NONCLUSTERED INDEX [INRootTblRefRootRecId] ON [dbo].[Lantek360Map]([RootTblRef] ASC, [RootRecId] ASC)
END