
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'RootTblRef' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
    ALTER TABLE Lantek360Map ADD RootTblRef nvarchar(50) NULL 
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'RootRecId' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
    ALTER TABLE Lantek360Map ADD RootRecId int NULL
END