IF NOT EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Lantek360Map' AND TABLE_SCHEMA = 'dbo')
BEGIN
	CREATE TABLE [dbo].[Lantek360Map](
	    [Id] [bigint] IDENTITY(1,1) NOT NULL,
	    [TblRef] [nvarchar](50) NOT NULL,
	    [RecID] [int] NOT NULL,
	    [UUID] [uniqueidentifier] NOT NULL,
	    [LastDate] [datetime] NOT NULL,
		[Uploaded] [bit] NOT NULL default 0,
		[SherlockComm] [bit] NOT NULL default 1,
		[UsedByFlags] [int] NOT NULL default 0,
	    CONSTRAINT [PK_Lantek360Map] PRIMARY KEY CLUSTERED (
          [Id] ASC
	    )
	    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	)
	ON [PRIMARY]
END