
UPDATE SYST_UUMM_00000800 SET TblRef = 'DIS_QQTL_BENDING_WIZARD' WHERE TblRef = 'DIS_BENDING_WIZARD'

UPDATE DIS_QQTL_QQTL_00000300 SET Window = 'DIS_QQTL_BENDING_WIZARD' WHERE Window = 'DIS_BENDING_WIZARD'