-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPBB_PPBB_00000100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'PPBB_PPBB_00000100.USCName', 'DEL_USCName';
END