-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'WWHH_IIVV_00000100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'WWHH_IIVV_00000100.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'WWHH_IIVV_00000200' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'WWHH_IIVV_00000200.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'WWHH_MMVV_00000100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'WWHH_MMVV_00000100.USCName', 'DEL_USCName';
END