-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'OOSS_CCOO_00000100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'OOSS_CCOO_00000100.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'OOSS_ENDN_00000200' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'OOSS_ENDN_00000200.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'OOSS_EXDN_00000200' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'OOSS_EXDN_00000200.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'OOSS_OOOO_00000200' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'OOSS_OOOO_00000200.USCName', 'DEL_USCName';
END