-- @#LONGSCRIPT#@

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PPMM_AASS_00000100')
BEGIN
    EXEC sp_rename 'PPMM_AASS_00000100', 'DEL_PPMM_AASS_00000100'
END
IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PPMM_AASS_00000200')
BEGIN
    EXEC sp_rename 'PPMM_AASS_00000200', 'DEL_PPMM_AASS_00000200'
END
IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'PPMM_AASS_00000300')
BEGIN
    EXEC sp_rename 'PPMM_AASS_00000300', 'DEL_PPMM_AASS_00000300'
END