-- @#LONGSCRIPT#@

IF EXISTS (
	SELECT 1
	FROM sys.indexes
	WHERE name = 'Reference'
	AND object_id = OBJECT_ID('MMNN_MMOO_00000600')
)
BEGIN
	DROP INDEX Reference ON MMNN_MMOO_00000600
END
IF NOT EXISTS (
	SELECT 1
	FROM sys.indexes
	WHERE name = 'PK_MMNN_MMOO_00000600'
	AND object_id = OBJECT_ID('MMNN_MMOO_00000600')
)
BEGIN
	CREATE INDEX "PK_MMNN_MMOO_00000600" ON "MMNN_MMOO_00000600" (Reference);
END