-- @#LONGSCRIPT#@

-- ELEMENTO ASOCIADO DE CONTRATO
DECLARE @Contract nvarchar(40)
DECLARE @AssocElementCode nvarchar(40)
DECLARE @ElementDsc nvarchar(255)
DECLARE @AssocElement smallint
DECLARE @RecID int
DECLARE @RecState smallint
DECLARE @CrtDate datetime
DECLARE @LastDate datetime
DECLARE @CrtUser nvarchar(40)
DECLARE @LastUser nvarchar(40)
DECLARE @Owner nvarchar(40)
DECLARE @RecEnt nvarchar(40)
DECLARE @RecOU nvarchar(40)
DECLARE @RecSec int
DECLARE @CntID int

SELECT @RecID=MAX(RecID) FROM CNTR_CNTR_00000300 SET @RecID=@RecID+1
IF @RecID IS NULL
    BEGIN
       SET @RecID = 1
    END

DECLARE LinesTransactions CURSOR FOR 
SELECT CntRef,AssocElement,AssocElementCode,ElementDsc,RecState,CrtDate,LastDate,CrtUser,LastUser,[Owner],RecEnt,RecOU,RecSec,CntID FROM CNTR_CNTR_00000200

OPEN LinesTransactions
FETCH NEXT FROM LinesTransactions INTO @Contract,@AssocElement,@AssocElementCode,@ElementDsc,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
WHILE @@FETCH_STATUS = 0
   BEGIN
       IF @AssocElement not like '0' 
       BEGIN
            IF @AssocElement like '1'
            BEGIN
             set @AssocElement = '0'
            END
            IF @AssocElement like '2' 
            BEGIN
             set @AssocElement = '1' 
            END
            IF @AssocElement like '101' 
            BEGIN
             set @AssocElement = '1' 
            END
	        INSERT INTO CNTR_CNTR_00000300(CntRef,AssocElement,AssocElementCode,ElementDsc,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID,RecID) 
                                           VALUES (@Contract,@AssocElement,@AssocElementCode,@ElementDsc,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID,@RecID)
	   END
       FETCH NEXT FROM LinesTransactions INTO @Contract,@AssocElement,@AssocElementCode,@ElementDsc,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
       SET @RecID=@RecID+1
   END
CLOSE LinesTransactions
DEALLOCATE LinesTransactions

-- Actualizar estado de contratos
Update CNTR_CNTR_00000100 set Status = '0' where Status like '1'
Update CNTR_CNTR_00000100 set Status = '1' where Status like '2'
Update CNTR_CNTR_00000100 set Status = '2' where Status like '3'
Update CNTR_CNTR_00000100 set Status = '2' where Status like '61'

--Actualizar fecha inicio y fin de las líneas de contratos
DECLARE @StartDate datetime
DECLARE @EndDate datetime

DECLARE ContractsTransactions CURSOR FOR 
SELECT CntRef,SDate,EDate,RecState,CrtDate,LastDate,CrtUser,LastUser,[Owner],RecEnt,RecOU,RecSec,CntID FROM CNTR_CNTR_00000100

OPEN ContractsTransactions
FETCH NEXT FROM ContractsTransactions INTO @Contract,@StartDate,@EndDate,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
WHILE @@FETCH_STATUS = 0
   BEGIN
       UPDATE CNTR_CNTR_00000200 SET SDate=@StartDate,EDate=@EndDate WHERE CntRef = @Contract
       FETCH NEXT FROM ContractsTransactions INTO @Contract,@StartDate,@EndDate,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
   END
CLOSE ContractsTransactions
DEALLOCATE ContractsTransactions

--Actualizar el concepto de las líneas de contratos

UPDATE CNTR_CNTR_00000200 SET Concept=' '