-- @#LONGSCRIPT#@

UPDATE OOPP_OOPP_00000100 SET Status=0 WHERE Status IN (0,1,2,3)
UPDATE OOPP_OOPP_00000100 SET Status=1 WHERE Status=4
UPDATE OOPP_OOPP_00000100 SET Status=2 WHERE Status=5
UPDATE OOPP_OOPP_00000100 SET Status=3 WHERE Status=6

UPDATE OOPP_OOPP_00000100 SET ClosedDate=LastDate WHERE Status IN (2,3) AND ClosedDate='1900-01-01 00:00:00'