-- @#LONGSCRIPT#@

DROP INDEX [dbo].[AATT_AATT_00000700].PK_AATT_AATT_00000700
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00000700 ON [dbo].[AATT_AATT_00000700] ([OUName],[AccPrdRef],[JournalRef],[JEntryNum]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

DROP INDEX [dbo].[AATT_AATT_00000800].PK_AATT_AATT_00000800
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00000800 ON [dbo].[AATT_AATT_00000800] ([OUName],[AccPrdRef],[JournalRef],[JEntryNum],[LineNum]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

--Update types
UPDATE AATT_AATT_00000400
SET    Type = 2
WHERE  Type = 400

UPDATE AATT_AATT_00000500
SET    Type = 2
WHERE  Type = 400

UPDATE AATT_AATT_00000400
SET    TypicalBalance = 1
WHERE  TypicalBalance = 2

UPDATE AATT_AATT_00000500
SET    TypicalBalance = 1
WHERE  TypicalBalance = 2

UPDATE AATT_AATT_00000400
SET    TypicalBalance = 0
WHERE  TypicalBalance = 3

UPDATE AATT_AATT_00000500
SET    TypicalBalance = 0
WHERE  TypicalBalance = 3

UPDATE AATT_AATT_00001200
SET    Type = 0
WHERE  Type = 1

UPDATE AATT_AATT_00001200
SET    Type = 1
WHERE  Type = 2

UPDATE AATT_AATT_00001200
SET    Type = 1
WHERE  Type = 3

UPDATE AATT_AATT_00001200
SET    Type = 0
WHERE  Type = 4

UPDATE AATT_AATT_00001300
SET    Type = 2
WHERE  Type = 400

DECLARE
@OUName nvarchar(40),
@AccPrdRef nvarchar(40),
@JournalRef nvarchar(40),
@JID int

DECLARE CurAccounting CURSOR FOR 
SELECT OUName,AccPrdRef,JournalRef,JID FROM AATT_AATT_00000600

OPEN CurAccounting
FETCH NEXT FROM CurAccounting INTO @OUName,@AccPrdRef,@JournalRef,@JID
WHILE @@FETCH_STATUS = 0
   BEGIN
		UPDATE AATT_AATT_00000700 SET JournalRef=@JournalRef WHERE OUName=@OUName AND AccPrdRef=@AccPrdRef AND JID=@JID
		FETCH NEXT FROM CurAccounting INTO @OUName,@AccPrdRef,@JournalRef,@JID
   END
CLOSE CurAccounting
DEALLOCATE CurAccounting

--Poner todos los asientos de diario como "Confirmados"
UPDATE AATT_AATT_00000700 SET Status=1

DECLARE 
@Debit decimal(15,2),
@Credit decimal(15,2),
@JEntryNum int,
@JEID int

DECLARE CurAccounting CURSOR FOR 
SELECT JournalRef,JEntryNum,JEID FROM AATT_AATT_00000700

OPEN CurAccounting
FETCH NEXT FROM CurAccounting INTO @JournalRef,@JEntryNum,@JEID
WHILE @@FETCH_STATUS = 0
   BEGIN
		UPDATE BBKK_BBKK_00000200 SET JournalRef=@JournalRef,JEntryNum=@JEntryNum WHERE JEID=@JEID
		UPDATE AATT_AATT_00000800 SET JournalRef=@JournalRef,JEntryNum=@JEntryNum WHERE JEID=@JEID
		FETCH NEXT FROM CurAccounting INTO @JournalRef,@JEntryNum,@JEID
   END
CLOSE CurAccounting
DEALLOCATE CurAccounting

--Actualizar Credit y Debit que tiene los decimales mal de antes en Jupiter
UPDATE AATT_AATT_00000800 SET Debit=ROUND(Debit,2), Credit=ROUND(Credit,2)
DECLARE CurAATTUpdate CURSOR FOR
SELECT SUM(Debit) AS CREDIT, SUM(Credit) AS CREDIT,OUName,AccPrdRef,JEntryNum,JournalRef
FROM AATT_AATT_00000800
GROUP BY OUName,AccPrdRef,JEntryNum, JournalRef

OPEN CurAATTUpdate
FETCH NEXT FROM CurAATTUpdate INTO @Debit,@Credit,@OUName,@AccPrdRef,@JEntryNum,@JournalRef
WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE AATT_AATT_00000700 SET Debit = @Debit, Credit= @Credit WHERE OUName = @OUName AND AccPrdRef = @AccPrdRef AND JEntryNum = @JEntryNum AND JournalRef = @JournalRef
	FETCH NEXT FROM CurAATTUpdate INTO @Debit,@Credit,@OUName,@AccPrdRef,@JEntryNum,@JournalRef
END
CLOSE CurAATTUpdate
DEALLOCATE CurAATTUpdate

--Recalcular saldos en AATT800
DECLARE
@AccountRef varchar(40),
@AccountRefTmp varchar(40),
@AccumBal decimal(15,2),
@RecID bigint,
@TypicalB tinyint
DECLARE
@AccChartRef nvarchar(40),
@AccCatRef nvarchar(40)


DECLARE CurAATTAccounts CURSOR FOR SELECT OUName,AccPrdRef,AccChartRef,AccCatRef,AccountRef,TypicalBalance FROM AATT_AATT_00000500 ORDER BY OUName,AccPrdRef,AccChartRef,AccCatRef,AccountRef
OPEN CurAATTAccounts
FETCH NEXT FROM CurAATTAccounts INTO @OUName,@AccPrdRef,@AccChartRef,@AccCatRef,@AccountRef,@TypicalB
WHILE @@FETCH_STATUS = 0
BEGIN
    SET @AccumBal = 0
    DECLARE CurAATT CURSOR FOR
    SELECT      AATT_AATT_00000800.Debit, AATT_AATT_00000800.Credit, AATT_AATT_00000800.RecID
                    FROM AATT_AATT_00000800 INNER JOIN
                    AATT_AATT_00000700 ON AATT_AATT_00000800.AccPrdRef = AATT_AATT_00000700.AccPrdRef AND 
                    AATT_AATT_00000800.OUName = AATT_AATT_00000700.OUName AND AATT_AATT_00000800.JEntryNum = AATT_AATT_00000700.JEntryNum AND 
                    AATT_AATT_00000800.JournalRef = AATT_AATT_00000700.JournalRef
                WHERE AATT_AATT_00000800.OUName = @OUName AND AATT_AATT_00000800.AccPrdRef = @AccPrdRef AND 
                    AATT_AATT_00000800.AccChartRef = @AccChartRef AND AATT_AATT_00000800.AccCatRef = @AccCatRef AND
                    AATT_AATT_00000800.AccountRef = @AccountRef
                ORDER BY AATT_AATT_00000700.Date,AATT_AATT_00000800.JEntryNum,AATT_AATT_00000800.LineNum

    OPEN CurAATT
    FETCH NEXT FROM CurAATT INTO @Debit, @Credit, @RecID
    WHILE @@FETCH_STATUS = 0
    BEGIN
	    IF (@TypicalB = 0)
		    SET @AccumBal = ROUND(@AccumBal + @Debit - @Credit,2) 
	    ELSE
		    SET @AccumBal = ROUND(@AccumBal + @Credit - @Debit,2)
	    UPDATE AATT_AATT_00000800 SET AccumBalance = @AccumBal WHERE RecID = @RecID
	    FETCH NEXT FROM CurAATT INTO  @Debit, @Credit, @RecID
    END
    CLOSE CurAATT
    DEALLOCATE CurAATT
    FETCH NEXT FROM CurAATTAccounts INTO @OUName,@AccPrdRef,@AccChartRef,@AccCatRef,@AccountRef,@TypicalB
END
CLOSE CurAATTAccounts
DEALLOCATE CurAATTAccounts

--Recalcular saldos en AATT500 
DECLARE CurAATT CURSOR FOR
SELECT SUM(Debit) AS DEBIT, SUM(Credit) AS CREDIT, OUName,AccPrdRef,AccChartRef,AccCatRef,AccountRef 
FROM AATT_AATT_00000800
GROUP BY OUName,AccPrdRef,JournalRef,AccChartRef,AccCatRef,AccountRef

OPEN CurAATT
FETCH NEXT FROM CurAATT INTO @Debit, @Credit, @OUName, @AccPrdRef, @AccChartRef, @AccCatRef, @AccountRef
WHILE @@FETCH_STATUS = 0
BEGIN
	UPDATE AATT_AATT_00000500 SET Debit = @Debit, Credit = @Credit 
	WHERE OUName = @OUName AND AccPrdRef = @AccPrdRef AND AccChartRef = @AccChartRef AND
		  AccCatRef = @AccCatRef AND AccountRef = @AccountRef
	FETCH NEXT FROM CurAATT INTO @Debit, @Credit, @OUName, @AccPrdRef, @AccChartRef, @AccCatRef, @AccountRef
END
CLOSE CurAATT
DEALLOCATE CurAATT

--Redondear saldos en la AATT500
UPDATE AATT_AATT_00000500 SET Balance = ROUND((Debit - Credit),2) WHERE TypicalBalance = 0
UPDATE AATT_AATT_00000500 SET Balance = ROUND((Credit - Debit),2) WHERE TypicalBalance = 1


UPDATE AATT_AATT_00001100
SET ElementID = RecID, AccountOUName = OUName, AccountAccPrdRef = AccPrdRef


DROP INDEX [dbo].[AATT_AATT_00001100].PK_AATT_AATT_00001100
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00001100 ON [dbo].[AATT_AATT_00001100] ([OUName],[AccPrdRef],[BalanceStrRef],[BEID],[ElementID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]


UPDATE AATT_AATT_00001400
SET FormulaOUName = OUName, FormulaAccPrdRef = AccPrdRef , FormulaBalanceStrRef = BalanceStrRef

DROP INDEX [dbo].[AATT_BBDG_00000200].PK_AATT_BBDG_00000200
CREATE NONCLUSTERED INDEX PK_AATT_BBDG_00000200 ON [dbo].[AATT_BBDG_00000200] ([OUName],[AccPrdRef],[AccChartRef],[AccCatRef],[AccountRef],[SDate]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]


DROP INDEX [dbo].[AATT_PRDF_00000100].PK_AATT_PRDF_00000100
CREATE NONCLUSTERED INDEX PK_AATT_PRDF_00000100 ON [dbo].[AATT_PRDF_00000100] ([OUName],[EntryRef]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

--Asientos predefinidos
UPDATE AATT_PRDF_00000100
SET OUName = RecEnt

UPDATE AATT_PRDF_00000100
SET Concept = EntryRef
WHERE (Concept = '')

DECLARE 
@EntryRef nvarchar(40)

DECLARE CurPredEntries CURSOR FOR 
SELECT EntryRef FROM AATT_PRDF_00000100

OPEN CurPredEntries
FETCH NEXT FROM CurPredEntries INTO @EntryRef
WHILE @@FETCH_STATUS = 0
   BEGIN
		UPDATE AATT_PRDF_00000100
		SET Debit = ROUND(IsNull((SELECT SUM(Debit) FROM AATT_PRDF_00000200 WHERE EntryRef = @EntryRef),0),2),
		Credit = ROUND(IsNull((SELECT SUM(Credit) FROM AATT_PRDF_00000200 WHERE EntryRef = @EntryRef),0),2)
		WHERE EntryRef = @EntryRef		

		FETCH NEXT FROM CurPredEntries INTO @EntryRef
   END
CLOSE CurPredEntries
DEALLOCATE CurPredEntries


DROP INDEX [dbo].[AATT_PRDF_00000200].PK_AATT_PRDF_00000200
CREATE NONCLUSTERED INDEX PK_AATT_PRDF_00000200 ON [dbo].[AATT_PRDF_00000200] ([OUName],[EntryRef],[LineNum]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]


UPDATE AATT_PRDF_00000200
SET OUName = RecEnt

DROP INDEX [dbo].[AATT_AATT_00000300].PK_AATT_AATT_00000300
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00000300 ON [dbo].[AATT_AATT_00000300] ([OUName],[AccPrdRef],[AccChartRef]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

DROP INDEX [dbo].[AATT_AATT_00000400].PK_AATT_AATT_00000400
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00000400 ON [dbo].[AATT_AATT_00000400] ([OUName],[AccPrdRef],[AccChartRef],[AccCatRef]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

DROP INDEX [dbo].[AATT_AATT_00000500].PK_AATT_AATT_00000500
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00000500 ON [dbo].[AATT_AATT_00000500] ([OUName],[AccPrdRef],[AccChartRef],[AccCatRef],[AccountRef]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

DROP INDEX [dbo].[AATT_AATT_00001200].PK_AATT_AATT_00001200
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00001200 ON [dbo].[AATT_AATT_00001200] ([OUName],[AccPrdRef],[BalanceStrRef],[BEID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

DROP INDEX [dbo].[AATT_AATT_00001300].PK_AATT_AATT_00001300
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00001300 ON [dbo].[AATT_AATT_00001300] ([OUName],[AccPrdRef],[BalanceStrRef]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

DROP INDEX [dbo].[AATT_AATT_00000550].PK_AATT_AATT_00000550
CREATE NONCLUSTERED INDEX PK_AATT_AATT_00000550 ON [dbo].[AATT_AATT_00000550] ([TblRef],[RecordID],[OUName],[AccPrdRef],[AccChartRef],[AccCatRef],[AccountRef],[Type]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
CREATE NONCLUSTERED INDEX UniqueIndex ON [dbo].[AATT_AATT_00000550] ([TblRef],[RecordID],[OUName],[AccPrdRef],[Type]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

DROP INDEX [dbo].[BBKK_BBKK_00000200].PK_BBKK_BBKK_00000200
CREATE NONCLUSTERED INDEX PK_BBKK_BBKK_00000200 ON [dbo].[BBKK_BBKK_00000200] ([RecID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

--Crear cuentas asociadas de las cuentas bancarias

DECLARE 
@AccountName nvarchar(40),
@RecState varchar(40),
@CrtDate varchar(40),
@LastDate varchar(40),
@CrtUser varchar(40),
@LastUser varchar(40),
@Owner varchar(40),
@RecEnt varchar(40),
@RecOU varchar(40),
@RecSec varchar(40),
@CntID varchar(40),
@AccCatOrg varchar(40),
@BankAccountRecID int,
@BankingRef nvarchar(255),
@BankingRefDefinitive nvarchar(255)

DECLARE CurBanking CURSOR FOR 
SELECT BankingRef,OUName,AccPrdRef,AccChartRef,AccCatRef,AccountRef,AccountName,NewBankingRef FROM BBKK_BBKK_00000100

OPEN CurBanking
--Coger los campos de cuenta contable de BBKK100 porque sólo están ahí.
FETCH NEXT FROM CurBanking INTO @BankingRef,@OUName,@AccPrdRef,@AccChartRef,@AccCatRef,@AccountRef,@AccountName,@BankingRefDefinitive
WHILE @@FETCH_STATUS = 0
BEGIN
    SET @RecID = ISNULL((SELECT MAX(RecID) FROM AATT_AATT_00000550),0) + 1
    --Coger los campos de sistema de AACC100 porque es el padre de la AATT550 ahora.
    SELECT @RecState=RecState,@CrtDate=CrtDate,@LastDate=LastDate,@CrtUser=CrtUser,@LastUser=LastUser,@Owner=Owner,@RecEnt=RecEnt,@RecOU=RecOU,@RecSec=RecSec,@CntID=CntID,@BankAccountRecID=RecID FROM AACC_AACC_00000100 WHERE BankingRef=@BankingRefDefinitive
    INSERT INTO AATT_AATT_00000550 (OUName,AccPrdRef,AccChartRef,AccCatRef,AccountRef,AccountName,Type,RecordID,TblRef,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID,RecID)
    VALUES (@OUName,@AccPrdRef,@AccChartRef,@AccCatRef,@AccountRef,@AccountName,'6',@BankAccountRecID,'AACC_AACC_00000100',@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID,@RecID)
    FETCH NEXT FROM CurBanking INTO @BankingRef,@OUName,@AccPrdRef,@AccChartRef,@AccCatRef,@AccountRef,@AccountName,@BankingRefDefinitive
END
CLOSE CurBanking 
DEALLOCATE CurBanking  

--Crear cuentas asociadas de clientes y proveedores
DECLARE 
@TblRef nvarchar(40),
@ComRef nvarchar(40),
@RecordID int,
@CompanyRecID int,
@Type int

DECLARE CurAssociatedAccounts CURSOR FOR 
SELECT TblRef,RecordID,Type,OUName,AccPrdRef,AccChartRef,AccCatRef,AccountRef,RecID FROM AATT_AATT_00000550 WHERE TblRef IN ('SSAA_CCUU_00000100','SSHH_SSPP_00000100')

OPEN CurAssociatedAccounts
FETCH NEXT FROM CurAssociatedAccounts INTO @TblRef,@RecordID,@Type,@OUName,@AccPrdRef,@AccChartRef,@AccCatRef,@AccountRef,@RecID
WHILE @@FETCH_STATUS = 0
BEGIN
      SET @ComRef = 
          CASE 
              WHEN @TblRef='SSAA_CCUU_00000100' THEN (SELECT CusRef FROM SSAA_CCUU_00000100 WHERE RecID=@RecordID)
              WHEN @TblRef='SSHH_SSPP_00000100' THEN (SELECT SuppRef FROM SSHH_SSPP_00000100 WHERE RecID=@RecordID)
          END;
      IF (@ComRef <> '')
      BEGIN
          SET @CompanyRecID = (SELECT RecID FROM CCOO_CCOO_00000100 WHERE ComRef=@ComRef)    
          /***Esta parte es válida para una BD sin multiempresa    
          IF (@Type=6)
          BEGIN 
                SELECT @BankingRefDefinitive=NewBankingRef FROM BBKK_BBKK_00000100
                  WHERE OUName=@OUName AND AccPrdRef=@AccPrdRef AND AccChartRef=@AccChartRef AND AccCatRef=@AccCatRef AND AccountRef=@AccountRef
                IF (@BankingRefDefinitive IS NULL) SET @BankingRefDefinitive=''
                IF (@TblRef='SSAA_CCUU_00000100')              
                    UPDATE SSAA_CCUU_00000100 SET BankingRef=@BankingRefDefinitive WHERE CusRef=@ComRef
                ELSE --No hace falta verificar la tabla porque sólo entrará aquí cuando ComRef=''
                    UPDATE SSHH_SSPP_00000100 SET BankingRef=@BankingRefDefinitive WHERE SuppRef=@ComRef
          END
          ELSE
          BEGIN
            --Cambiar la tabla relacionada en cuentas asociadas.Cambiar el recordID para que apunte a CCOO y no a SSAA_CCUU o SSHH_SSPP
            IF (@CompanyRecID > 0) UPDATE AATT_AATT_00000550 SET TblRef='CCOO_CCOO_00000100',RecordID=@CompanyRecID WHERE RecID=@RecID
          END
          ***/
          
          --Relacionar cuentas asociadas directamente con la compañía
          IF (@Type=6)
          BEGIN
            IF (@TblRef='SSAA_CCUU_00000100')              
                UPDATE AATT_AATT_00000550 SET Type=13 WHERE RecID=@RecID
            ELSE
                UPDATE AATT_AATT_00000550 SET Type=14 WHERE RecID=@RecID
          END
          IF (@CompanyRecID > 0) UPDATE AATT_AATT_00000550 SET TblRef='CCOO_CCOO_00000100',RecordID=@CompanyRecID WHERE RecID=@RecID
      END             
      FETCH NEXT FROM CurAssociatedAccounts INTO @TblRef,@RecordID,@Type,@OUName,@AccPrdRef,@AccChartRef,@AccCatRef,@AccountRef,@RecID
END
CLOSE CurAssociatedAccounts 
DEALLOCATE CurAssociatedAccounts
   
--Eliminar cuentas asociadas de todos los tipos excepto Cargo,Abono,Ventas,Compras y Banco(Cliente=13 y Proveedor=14).
DELETE FROM AATT_AATT_00000550 WHERE  TblRef='CCOO_CCOO_00000100' AND Type NOT IN (0,1,2,3,13,14)

--Recalcular las guias de balance para que no tengan elementos duplicados ni huérfanos
DECLARE
@lOUName nvarchar(40),
@lAccPrdRef nvarchar(40),
@lBalanceStrRef nvarchar(255),
@lBEID int,
@lBalElmntOrg int,
@lRecID int,
@lOrder int

DECLARE CurReportGuides CURSOR FOR
SELECT OUName, AccPrdRef, BalanceStrRef FROM AATT_AATT_00001300
ORDER BY OUName, AccPrdRef, BalanceStrRef ASC

OPEN CurReportGuides
FETCH NEXT FROM CurReportGuides INTO @lOUName, @lAccPrdRef, @lBalanceStrRef
WHILE @@FETCH_STATUS = 0
BEGIN

	DECLARE CurReportElemts CURSOR FOR
	SELECT BalElmntOrg, RecID FROM AATT_AATT_00001200
	WHERE OUName=@lOUName 
    AND AccPrdRef=@lAccPrdRef
    AND BalanceStrRef=@lBalanceStrRef
    AND BalElmntOrg NOT IN
    (SELECT BEID FROM AATT_AATT_00001200
     WHERE OUName=@lOUName 
	 AND AccPrdRef=@lAccPrdRef
	 AND BalanceStrRef=@lBalanceStrRef)
	ORDER BY BalElmntOrg ASC

	OPEN CurReportElemts
	FETCH NEXT FROM CurReportElemts INTO @lBalElmntOrg, @lRecID
	WHILE @@FETCH_STATUS = 0
	BEGIN

		IF (@lBalElmntOrg <> 0)
		BEGIN
			UPDATE AATT_AATT_00001200
			SET BalElmntOrg=0, BElOrder=1, BElInOrder=1
			WHERE RecID = @lRecID
		END

		FETCH NEXT FROM CurReportElemts INTO @lBalElmntOrg, @lRecID

	END
	CLOSE CurReportElemts
	DEALLOCATE CurReportElemts

	FETCH NEXT FROM CurReportGuides INTO @lOUName, @lAccPrdRef, @lBalanceStrRef

END
CLOSE CurReportGuides
DEALLOCATE CurReportGuides


DECLARE CurReportElemts CURSOR FOR
SELECT OUName, AccPrdRef, BalanceStrRef, BEID FROM AATT_AATT_00001200
ORDER BY OUName, AccPrdRef, BalanceStrRef, BEID ASC

OPEN CurReportElemts
FETCH NEXT FROM CurReportElemts INTO @lOUName, @lAccPrdRef, @lBalanceStrRef, @lBEID
WHILE @@FETCH_STATUS = 0
BEGIN

		SET @lOrder = 0

		DECLARE CurReportElemts2 CURSOR FOR
		SELECT RecID FROM AATT_AATT_00001200
		WHERE OUName=@lOUName AND AccPrdRef=@lAccPrdRef AND BalanceStrRef=@lBalanceStrRef AND BalElmntOrg=@lBEID
		ORDER BY BEID ASC

		OPEN CurReportElemts2
		FETCH NEXT FROM CurReportElemts2 INTO @lRecID
		WHILE @@FETCH_STATUS = 0
		BEGIN

			SET @lOrder = @lOrder + 1
			UPDATE AATT_AATT_00001200 SET BElInOrder = @lOrder WHERE RecID = @lRecID
			FETCH NEXT FROM CurReportElemts2 INTO @lRecID

		END

		CLOSE CurReportElemts2
		DEALLOCATE CurReportElemts2

        FETCH NEXT FROM CurReportElemts INTO @lOUName, @lAccPrdRef, @lBalanceStrRef, @lBEID

END
CLOSE CurReportElemts
DEALLOCATE CurReportElemts


DECLARE CurReportElemts3 CURSOR FOR
SELECT DISTINCT OUName, AccPrdRef, BalanceStrRef FROM AATT_AATT_00001200

OPEN CurReportElemts3
FETCH NEXT FROM CurReportElemts3 INTO @lOUName, @lAccPrdRef, @lBalanceStrRef
WHILE @@FETCH_STATUS = 0
BEGIN

		SET @lOrder = 0

		DECLARE CurReportElemts4 CURSOR FOR
		SELECT RecID FROM AATT_AATT_00001200
		WHERE OUName=@lOUName AND AccPrdRef=@lAccPrdRef AND BalanceStrRef=@lBalanceStrRef AND BalElmntOrg=0
		ORDER BY BEID ASC

		OPEN CurReportElemts4
		FETCH NEXT FROM CurReportElemts4 INTO @lRecID
		WHILE @@FETCH_STATUS = 0
		BEGIN

			SET @lOrder = @lOrder + 1
			UPDATE AATT_AATT_00001200 SET BElInOrder = @lOrder WHERE RecID = @lRecID
			FETCH NEXT FROM CurReportElemts4 INTO @lRecID

		END

		CLOSE CurReportElemts4
		DEALLOCATE CurReportElemts4

        FETCH NEXT FROM CurReportElemts3 INTO @lOUName, @lAccPrdRef, @lBalanceStrRef

END
CLOSE CurReportElemts3
DEALLOCATE CurReportElemts3


--Indices duplicados Cuentas generales
DECLARE
@lTblRef nvarchar(40),
@lRecordID int,
@lType int,
@lCounter int

DECLARE CurAssociatedAccounts CURSOR FOR
SELECT TblRef,RecordID,OUName,AccPrdRef,Type,COUNT(*) AS Counter
FROM AATT_AATT_00000550
GROUP BY TblRef,RecordID,OUName,AccPrdRef,Type
HAVING COUNT(*) > 1

OPEN CurAssociatedAccounts
FETCH NEXT FROM CurAssociatedAccounts INTO @lTblRef, @lRecordID, @lOUName, @lAccPrdRef, @lType, @lCounter
WHILE @@FETCH_STATUS = 0
BEGIN

	DELETE TOP(@lCounter - 1)
	FROM AATT_AATT_00000550
    WHERE TblRef=@lTblRef AND RecordID=@lRecordID AND OUName=@lOUName AND AccPrdRef=@lAccPrdRef AND Type=@lType

	FETCH NEXT FROM CurAssociatedAccounts INTO @lTblRef, @lRecordID, @lOUName, @lAccPrdRef, @lType, @lCounter

END
CLOSE CurAssociatedAccounts
DEALLOCATE CurAssociatedAccounts


DECLARE
@lAccountType int

DECLARE CurCompanies CURSOR FOR
SELECT RecID FROM CCOO_CCOO_00000100
WHERE IsCust=0 OR IsSupp=0
ORDER BY RecID ASC

OPEN CurCompanies
FETCH NEXT FROM CurCompanies INTO @lRecID
WHILE @@FETCH_STATUS = 0
BEGIN

	DECLARE CurAssociatedAccounts CURSOR FOR
	SELECT TblRef,RecordID,Type FROM AATT_AATT_00000550
	WHERE TblRef='CCOO_CCOO_00000100' 
    AND RecordID=@lRecID

	OPEN CurAssociatedAccounts
	FETCH NEXT FROM CurAssociatedAccounts INTO @lTblRef, @lRecordID, @lAccountType
	WHILE @@FETCH_STATUS = 0
	BEGIN

		IF ((@lAccountType = 0) OR (@lAccountType = 2))
		BEGIN
			UPDATE CCOO_CCOO_00000100
			SET IsCust=1
			WHERE RecID = @lRecID
		END

		IF ((@lAccountType = 1) OR (@lAccountType = 3))
		BEGIN
			UPDATE CCOO_CCOO_00000100
			SET IsSupp=1
			WHERE RecID = @lRecID
		END

		FETCH NEXT FROM CurAssociatedAccounts INTO @lTblRef, @lRecordID, @lAccountType

	END
	CLOSE CurAssociatedAccounts
	DEALLOCATE CurAssociatedAccounts

	FETCH NEXT FROM CurCompanies INTO @lRecID

END
CLOSE CurCompanies
DEALLOCATE CurCompanies

--Meter la cuenta de pérdidas y ganancias (129) para todos los ejercicios incluso los cerrados
DECLARE CurAccPeriods CURSOR FOR 
SELECT OUName,AccPrdRef,AccChartRef,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID FROM AATT_AATT_00000300

OPEN CurAccPeriods
FETCH NEXT FROM CurAccPeriods INTO @OUName,@AccPrdRef,@AccChartRef,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
WHILE @@FETCH_STATUS = 0
   BEGIN
        SET @RecID = ISNULL((SELECT MAX(RecID) FROM AATT_AATT_00000550),0) + 1
        --Coger los campos de sistema de AATT300 porque es el padre de la AATT550 ahora.
        INSERT INTO AATT_AATT_00000550 (OUName,AccPrdRef,AccChartRef,AccCatRef,AccountRef,AccountName,Type,RecordID,TblRef,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID,RecID)
        VALUES (@OUName,@AccPrdRef,@AccChartRef,'129','1290000','Pérdidas y Ganancias','12',0,'',@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID,@RecID)
		FETCH NEXT FROM CurAccPeriods INTO @OUName,@AccPrdRef,@AccChartRef,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
   END
CLOSE CurAccPeriods
DEALLOCATE CurAccPeriods

