-- Initialize Required date of a nesting with operations.
UPDATE DIS_NEST_NEST_00000100
SET DIS_NEST_NEST_00000100.RequiredDate = 
    (ISNULL((SELECT MIN(MMNN_MMOO_00000300.RDate)
             FROM MMNN_MMOO_00000300 INNER JOIN DIS_NEST_NEST_00000500
             ON ((MMNN_MMOO_00000300.MnORef = DIS_NEST_NEST_00000500.MnORef) AND
                 (MMNN_MMOO_00000300.OprID = DIS_NEST_NEST_00000500.OprID) AND
                 (MMNN_MMOO_00000300.PrdRefDst = DIS_NEST_NEST_00000500.PrdRefDst))
             WHERE ((DIS_NEST_NEST_00000500.NstRef = DIS_NEST_NEST_00000100.NstRef) AND
                    (MMNN_MMOO_00000300.RDate <> N'1900-01-01 00:00:00'))), N'1900-01-01 00:00:00'))

-- Initialize Scheduled start of a nesting with operations.
UPDATE DIS_NEST_NEST_00000100
SET DIS_NEST_NEST_00000100.ScheduledStart = 
    (ISNULL((SELECT MIN(MMNN_MMOO_00000300.ESDate)
             FROM MMNN_MMOO_00000300 INNER JOIN DIS_NEST_NEST_00000500
             ON ((MMNN_MMOO_00000300.MnORef = DIS_NEST_NEST_00000500.MnORef) AND
                 (MMNN_MMOO_00000300.OprID = DIS_NEST_NEST_00000500.OprID) AND
                 (MMNN_MMOO_00000300.PrdRefDst = DIS_NEST_NEST_00000500.PrdRefDst))
             WHERE ((DIS_NEST_NEST_00000500.NstRef = DIS_NEST_NEST_00000100.NstRef) AND
                    (MMNN_MMOO_00000300.ESDate <> N'1900-01-01 00:00:00'))), N'1900-01-01 00:00:00'))