
-- Fix MSQ (released quantity) in lines of sale orders "In progress" or "Closed".
UPDATE SSAA_SSOO_00000200 
SET SSAA_SSOO_00000200.MSQ = SSAA_SSOO_00000200.Quantity
FROM SSAA_SSOO_00000100 
INNER JOIN (SSAA_SSOO_00000200 INNER JOIN PPRR_PPRR_00000100 ON SSAA_SSOO_00000200.PrdRef = PPRR_PPRR_00000100.PrdRef)
ON SSAA_SSOO_00000100.OrdRef=SSAA_SSOO_00000200.OrdRef
WHERE SSAA_SSOO_00000100.OState in (2,4) AND SSAA_SSOO_00000200.MSQ = 0 AND PPRR_PPRR_00000100.DIS_PClass not in (2,3,4,54,56,57)