
IF NOT EXISTS(SELECT RecID FROM SYST_QQEE_00000200 WHERE QueueName = N'Update material price')
BEGIN

DECLARE @oUName NVARCHAR(40)
DECLARE @date DATETIME
DECLARE @user NVARCHAR(40)
DECLARE @recEnt NVARCHAR(40)
DECLARE @recOU NVARCHAR(40)
DECLARE @recID int

SET @date = GETDATE()
SET @user = 'SYSADM'

SELECT TOP(1) @recEnt = RecEnt, @recOU = RecOU, @oUName = RecOU, @recID = RecID FROM SYST_QQEE_00000200 ORDER BY RecID DESC
SET @recID = @recID + 1

INSERT INTO SYST_QQEE_00000200(QueueName, MsgNum, CrtDate, LastDate, CrtUser, LastUser, Owner, RecEnt, RecOU, CntID, RecID) VALUES('Update material price', 60002618, @date, @date, @user, @user, @user, @recEnt, @recOU, 0, @recID)

END