-- @#LONGSCRIPT#@

--TODO** Traducción de todos los cambios de proyectos

--Initialize budget fields
UPDATE PPMM_PPMM_00000100 
SET OriginalBdgCost = EstimatedCost

UPDATE PPMM_PPMM_00000100 
SET OriginalBdgSPrice = Budget

UPDATE PPMM_PPMM_00000150 
SET OriginalBdgCost = EstimatedCost

UPDATE PPMM_PPMM_00000150 
SET OriginalBdgSPrice = BudgetSPrice