-- @#LONGSCRIPT#@

-- Translate DEL_PrjRef to new origin fields
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.PPMM_PPMM_00000100') AND type in (N'U'))
	UPDATE SSHH_PPOO_00000200
	SET AssocElementType = 1, TblRef='PPMM_PPMM_00000100', RecordID=(ISNULL(
																			(SELECT TOP 1 PPMM_PPMM_00000100.RecID
																			 FROM PPMM_PPMM_00000100
																			 WHERE SSHH_PPOO_00000200.DEL_PrjRef = PPMM_PPMM_00000100.PrjRef), 0))
	WHERE SSHH_PPOO_00000200.DEL_PrjRef <> ''

-- Update origin in reception lines
UPDATE SSHH_SSHH_00000200
SET SSHH_SSHH_00000200.AssocElementType = SSHH_PPOO_00000200.AssocElementType,
	SSHH_SSHH_00000200.TblRef = SSHH_PPOO_00000200.TblRef,
	SSHH_SSHH_00000200.RecordID = SSHH_PPOO_00000200.RecordID
FROM SSHH_SSHH_00000200 INNER JOIN SSHH_PPOO_00000200
ON SSHH_SSHH_00000200.OrdRef = SSHH_PPOO_00000200.OrdRef AND
SSHH_SSHH_00000200.OLineNum = SSHH_PPOO_00000200.LineNum

-- Update origin in invoice lines
UPDATE SSHH_IINN_00000200
SET SSHH_IINN_00000200.AssocElement2 = SSHH_PPOO_00000200.AssocElementType,
	SSHH_IINN_00000200.TblRef = SSHH_PPOO_00000200.TblRef,
	SSHH_IINN_00000200.RecordID = SSHH_PPOO_00000200.RecordID
FROM SSHH_IINN_00000200 INNER JOIN SSHH_PPOO_00000200
ON SSHH_IINN_00000200.OrdRef <> '' AND 
   SSHH_IINN_00000200.OrdRef = SSHH_PPOO_00000200.OrdRef AND
   SSHH_IINN_00000200.OLineNum = SSHH_PPOO_00000200.LineNum
   
UPDATE SSHH_IINN_00000200
SET SSHH_IINN_00000200.AssocElement2 = SSHH_SSHH_00000200.AssocElementType,
	SSHH_IINN_00000200.TblRef = SSHH_SSHH_00000200.TblRef,
	SSHH_IINN_00000200.RecordID = SSHH_SSHH_00000200.RecordID
FROM SSHH_IINN_00000200 INNER JOIN SSHH_SSHH_00000200
ON SSHH_IINN_00000200.ShpRef <> '' AND 
   SSHH_IINN_00000200.OrdRef = '' AND
   SSHH_IINN_00000200.ShpRef = SSHH_SSHH_00000200.ShpRef AND
   SSHH_IINN_00000200.SLineNum = SSHH_SSHH_00000200.LineNum  