-- @#LONGSCRIPT#@

-- Translate RecordID to RecID
UPDATE SSHH_PPOO_00000300
SET RecordID = ISNULL((SELECT TOP 1 PPBB_PPBB_00000100.RecID
					  FROM PPBB_PPBB_00000100
					  WHERE (SSHH_PPOO_00000300.DEL_WrhRef = PPBB_PPBB_00000100.WrhRef) AND
							(SSHH_PPOO_00000300.DEL_LocRef = PPBB_PPBB_00000100.LocRef) AND 
							(SSHH_PPOO_00000300.PrdRef = PPBB_PPBB_00000100.PrdRef) AND
							(SSHH_PPOO_00000300.DEL_Type = PPBB_PPBB_00000100.Type) AND 
							(SSHH_PPOO_00000300.DEL_Reference = PPBB_PPBB_00000100.Reference) AND 
							(SSHH_PPOO_00000300.DEL_LineNumPB = PPBB_PPBB_00000100.LineNum) AND
							(SSHH_PPOO_00000300.DEL_Confirmed = PPBB_PPBB_00000100.Confirmed))
					 , 0)
