-- @#LONGSCRIPT#@
IF OBJECT_ID ('"BBKK_BBKK_00000200"') IS NOT NULL
BEGIN
    UPDATE BBKK_BBKK_00000200 SET AssocElement = 2 WHERE AssocElement = 3
END

UPDATE SSPP_PPYY_00000100 SET AssocElement = 2 WHERE AssocElement = 3

-- Update carrier fees
UPDATE OOSS_OOOO_00000100 SET CarrierFees = '1' WHERE OwnFees = '1'
UPDATE OOSS_OOOO_00000100 SET CarrierFees = '2' WHERE PFees = '1'
UPDATE OOSS_ENDN_00000100 SET CarrierFees = '1' WHERE OwnFees = '1'
UPDATE OOSS_ENDN_00000100 SET CarrierFees = '2' WHERE PFees = '1'

-- Update sent status
UPDATE OOSS_OOOO_00000100 SET SntState = '1' WHERE Dstatus IN ('30','40')

-- Update received status
UPDATE OOSS_OOOO_00000100 SET RcvdState = '1' WHERE Dstatus = '40'