-- @#LONGSCRIPT#@

-- OUTSOURCING INVOICE LINES TO PURCHASE INVOICE LINES.
IF OBJECT_ID ('"OOSS_IINN_00000200"') IS NOT NULL
BEGIN
    DECLARE
    @InvRef nvarchar(40),@LineNum int,@UCtName nvarchar(80),@UntName nvarchar(80),@Quantity float,@AssocElement smallint,@PrdRef nvarchar(40),@PrdName nvarchar(255),
    @UPrice float,@Disc float,@DDate datetime,@TPrice float,@OrdRef nvarchar(40),@OLineNum nvarchar(255),@ENDNRef nvarchar(40),@DNLineNum nvarchar(255),@Descrip nvarchar(MAX),
    @SuppRef nvarchar(40),@TaxRef nvarchar(40),@TaxValue float,@TaxAmount float,@WrkRef nvarchar(80),@OprRef nvarchar(80),@MnORef nvarchar(40),@OprID int,@RecState smallint,
    @CrtDate datetime,@LastDate datetime,@CrtUser nvarchar(40),@LastUser nvarchar(40),@Owner nvarchar(40),@RecEnt nvarchar(40),@RecOU nvarchar(40),@RecSec int,@CntID int,@RecID int

    SET @RecID = ISNULL((SELECT MAX(RecID) FROM SSHH_IINN_00000200),0)

    DECLARE CurINVOICE_LINE CURSOR FOR
    SELECT InvRef,LineNum,UCtName,UntName,Quantity,PrdRef,PrdName,UPrice,Disc,DDate,TPrice,OrdRef,OLineNum,ENDNRef,DNLineNum,Descrip,SuppRef,TaxRef,TaxValue,TaxAmount,
    WrkRef,OprRef,MnORef,OprID,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID
    FROM OOSS_IINN_00000200

    OPEN CurINVOICE_LINE
        FETCH NEXT FROM CurINVOICE_LINE INTO @InvRef,@LineNum,@UCtName,@UntName,@Quantity,@PrdRef,@PrdName,@UPrice,@Disc,@DDate,@TPrice,@OrdRef,@OLineNum,@ENDNRef,@DNLineNum,
        @Descrip,@SuppRef,@TaxRef,@TaxValue,@TaxAmount,@WrkRef,@OprRef,@MnORef,@OprID,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
	    WHILE @@FETCH_STATUS = 0
	    BEGIN
	        SET @RecID = @RecID + 1
	        IF (@PrdRef = '')
	            BEGIN
	                SET @AssocElement = 0
	            END
	        ELSE
	            BEGIN
	                SET @AssocElement = 1
	            END
            FETCH NEXT FROM CurINVOICE_LINE INTO @InvRef,@LineNum,@UCtName,@UntName,@Quantity,@PrdRef,@PrdName,@UPrice,@Disc,@DDate,@TPrice,@OrdRef,@OLineNum,@ENDNRef,
            @DNLineNum,@Descrip,@SuppRef,@TaxRef,@TaxValue,@TaxAmount,@WrkRef,@OprRef,@MnORef,@OprID,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
	    END
    CLOSE CurInvoice_LINE
    DEALLOCATE CurInvoice_LINE
END