-- @#LONGSCRIPT#@

UPDATE DIS_NEST_NEST_00000100 SET ShtRef = substring(ShtRef, 1, 40) where len(ShtRef) > 40
UPDATE DIS_NEST_NEST_00000100 SET ShtRefOrg = substring(ShtRefOrg, 1, 40) where len(ShtRefOrg) > 40
UPDATE DIS_NEST_NEST_00000100 SET RealSht = substring(RealSht, 1, 40) where len(RealSht) > 40
UPDATE DIS_NEST_NEST_00000300 SET ShtRef = substring(ShtRef, 1, 40) where len(ShtRef) > 40
UPDATE DIS_NEST_NEST_00000500 SET PrdRefDst = substring(PrdRefDst, 1, 40) where len(PrdRefDst) > 40