-- @#LONGSCRIPT#@

UPDATE DIS_DUCT_FFEE_00000100 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000200 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000300 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000400 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000500 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000600 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000600 SET IslRef = substring(IslRef, 1, 40) where len(IslRef) > 40
UPDATE DIS_DUCT_FFEE_00000700 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000800 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00000900 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40
UPDATE DIS_DUCT_FFEE_00001000 SET FigRef = substring(FigRef, 1, 40) where len(FigRef) > 40