-- @#LONGSCRIPT#@

-- Update SYST_UUMM_00000200
UPDATE SYST_UUMM_00000200 SET MsgNum = '60002461' WHERE UctName = 'ARD'
UPDATE SYST_UUMM_00000200 SET MsgNum = '60002462' WHERE UctName = 'WGD'

--Update SYST_UUMM_00000400
UPDATE SYST_UUMM_00000400 SET MsgNum = '60002463' WHERE UntName = 'kg/m'
UPDATE SYST_UUMM_00000400 SET MsgNum = '60002464' WHERE UntName = 'lb/in'
UPDATE SYST_UUMM_00000400 SET MsgNum = '60002465' WHERE UntName = 'm2/m'
UPDATE SYST_UUMM_00000400 SET MsgNum = '60002466' WHERE UntName = 'in2/in'

