-- @#LONGSCRIPT#@

-- Set associated element to 'none' when the relationship between activity and work orders has been removed
update PPMM_PPMM_00000200 set AssocElement = 0 where AssocElement != 0 and not exists(select * from WWPP_WWOO_00000100 where OriginID = PPMM_PPMM_00000200.RecID and OriginTable = 'PPMM_PPMM_00000200')

-- Update templates' names when they are empty using row's reference
update PPMM_PPMM_00000100 set Project = PrjRef where IsTemplate = 1 and Project = ''
update PPMM_PPMM_00000150 set WBSName = WBSRef where IsTemplate = 1 and WBSName = ''
update PPMM_PPMM_00000200 set ActName = ActRef where IsTemplate = 1 and ActName = ''

-- PPMM_PPMM_00000300 Contact set to Avantia Long Integer (80) --> SQL server int not null
declare @texto as nvarchar(4000)
select @texto='alter table PPMM_PPMM_00000300 drop constraint ' + name from sysobjects where id =
(select sysconstraints.constid from sysconstraints inner join syscolumns on sysconstraints.id = syscolumns.id and
sysconstraints.colid = syscolumns.colid and syscolumns.id = (SELECT OBJECT_ID(N'dbo.PPMM_PPMM_00000300')) and syscolumns.name = 'Contact')
exec (@texto)

DROP INDEX [dbo].[PPMM_PPMM_00000300].PK_PPMM_PPMM_00000300
ALTER TABLE PPMM_PPMM_00000300
ALTER COLUMN Contact int NOT NULL
ALTER TABLE PPMM_PPMM_00000300 ADD CONSTRAINT DEF_VALUE_CONSTRAINT DEFAULT 0 FOR Contact;
-- Re-create pk
CREATE NONCLUSTERED INDEX [PK_PPMM_PPMM_00000300] ON [dbo].[PPMM_PPMM_00000300]
(
      [PrjRef],[Contact]
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]