
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'DIS_SHPR_BEND_00000100')
BEGIN

CREATE TABLE [dbo].[DIS_SHPR_BEND_00000100](
     [PrdRef] [nvarchar](40) NOT NULL DEFAULT (N''),
     [Length] [float] NOT NULL DEFAULT 0,
     [Angle] [float] NOT NULL DEFAULT 0,
     [Radius] [float] NOT NULL DEFAULT 0,
     [KFactor] [float] NOT NULL DEFAULT 0,
     [Special] [tinyint] NOT NULL DEFAULT 0,
     [Rotation] [tinyint] NOT NULL DEFAULT 0,
     [ToolChange] [tinyint] NOT NULL DEFAULT 0,
	[RecState] [smallint] NOT NULL DEFAULT 0,
	[CrtDate] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00'),
	[LastDate] [datetime] NOT NULL DEFAULT ('1900-01-01 00:00:00'),
	[CrtUser] [nvarchar](40) NOT NULL DEFAULT (N''),
	[LastUser] [nvarchar](40) NOT NULL DEFAULT (N''),
	[Owner] [nvarchar](40) NOT NULL DEFAULT (N''),
	[RecEnt] [nvarchar](40) NOT NULL DEFAULT (N''),
	[RecOU] [nvarchar](40) NOT NULL DEFAULT (N''),
	[RecSec] [int] NOT NULL DEFAULT 0,
	[CntID] [int] NOT NULL DEFAULT -1,
	[RecID] [int] NOT NULL DEFAULT 0
) ON [PRIMARY]

CREATE NONCLUSTERED INDEX PK_DIS_SHPR_BEND_00000100 ON [dbo].[DIS_SHPR_BEND_00000100]	(
      [RecID] ASC
) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]

CREATE NONCLUSTERED INDEX INPrdRef ON [dbo].[DIS_SHPR_BEND_00000100]	(
      [PrdRef] ASC
) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]

CREATE UNIQUE CLUSTERED INDEX [INRecID] ON [dbo].[DIS_SHPR_BEND_00000100] (
      [RecID] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF) ON [PRIMARY]

END

--UNITS
DELETE SYST_UUMM_00000800 WHERE TblRef = 'DIS_SHPR_BEND_00000100'

DECLARE @RecID int, @RecEnt nvarchar(40), @RecOU nvarchar(40)
SELECT TOP 1  @RecID=RecID, @RecEnt=RecEnt, @RecOU=RecOU FROM SYST_UUMM_00000800 ORDER BY RecID DESC

SET @RecID = @RecID + 1
INSERT INTO SYST_UUMM_00000800 (TblRef,FldRef,USyName,UCtName,UntName,RecState,CrtUser,LastUser,Owner,RecEnt,RecOU,CntID,RecID) VALUES 
                           ('DIS_SHPR_BEND_00000100','Length','MET','DST','mm',0,'SYSADM','SYSADM','SYSADM',@RecEnt,@RecOU,0,@RecID)       
SET @RecID = @RecID + 1
INSERT INTO SYST_UUMM_00000800 (TblRef,FldRef,USyName,UCtName,UntName,RecState,CrtUser,LastUser,Owner,RecEnt,RecOU,CntID,RecID) VALUES 
                           ('DIS_SHPR_BEND_00000100','Length','IMP','DST','in',0,'SYSADM','SYSADM','SYSADM',@RecEnt,@RecOU,0,@RecID)

SET @RecID = @RecID + 1
INSERT INTO SYST_UUMM_00000800 (TblRef,FldRef,USyName,UCtName,UntName,RecState,CrtUser,LastUser,Owner,RecEnt,RecOU,CntID,RecID) VALUES 
                           ('DIS_SHPR_BEND_00000100','Angle','MET','ANG','o',0,'SYSADM','SYSADM','SYSADM',@RecEnt,@RecOU,0,@RecID)
SET @RecID = @RecID + 1
                           
SET @RecID = @RecID + 1
SET @RecID = @RecID + 1
