
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'MMNN_MMOO_00000300' AND COLUMN_NAME = 'DIS_NonCuttingJob')
BEGIN
       ALTER TABLE MMNN_MMOO_00000300 ADD DIS_NonCuttingJob nvarchar(255) default N'' not null
END