
-- UPDATE MATERIAL AND THICKNESS IN NON CUT OPERATIONS.

-- Declare table to store cut operations data.
DECLARE @CutOperationsTable TABLE (MnORef nvarchar(40) not null,
                                   DIS_MatRef nvarchar(40)  not null, 
                                   DIS_Thickness float not null,
                                   RecID int not null,
                                   Position int identity(1,1) not null)

-- Populate table (not 'Cancelled', not 'Finished').
INSERT INTO @CutOperationsTable
            SELECT MnORef, DIS_MatRef, DIS_Thickness, RecID
            FROM MMNN_MMOO_00000300
            WHERE (DIS_Is2DSOp = 1 OR DIS_Is3DSOp = 1) AND MState NOT IN (50, 60) AND MnORef IN (SELECT MnORef 
                                                                                                 FROM MMNN_MMOO_00000300
                                                                                                 WHERE (DIS_Is2DSOp = 0 AND DIS_Is3DSOp = 0 AND MState NOT IN (50, 60)))
            ORDER BY MnORef

--Declare other variables.
DECLARE @Contador int, @order nvarchar(40), @material nvarchar(40), @thickness float, @otherMaterial int

--Check if exists records to update.
SET @Contador = ISNULL((SELECT COUNT(*) FROM @CutOperationsTable), 0)
WHILE (@Contador > 0) 
BEGIN
    -- Get cut operation data: Material, Thickness and Production order reference.
    SELECT @material = DIS_MatRef, @thickness = DIS_Thickness, @order = MnOref
    FROM @CutOperationsTable 
    WHERE Position = @contador

    -- Check if exist any cut operation with other material or thickness in that production order.
    SET @otherMaterial = ISNULL((SELECT TOP 1 RecID FROM @CutOperationsTable WHERE MnOref = @order AND (DIS_MatRef <> @material Or DIS_Thickness <> @thickness)), 0)

    IF @otherMaterial > 0
    BEGIN
        -- Exist other cut operation with other material or thickness.
        -- Not update anything. Only Set @contador with the position of next production order.
        SELECT @contador = MIN(Position) 
        FROM @CutOperationsTable
        WHERE MnORef = @order
    END
    ELSE
    BEGIN
        -- Update related operation of these production order.
        UPDATE MMNN_MMOO_00000300 
        SET DIS_MatRef = @material, DIS_Thickness = @thickness
        WHERE MnOref = @order AND DIS_NQ = 0 AND MState NOT IN (60,50)

    END
    Set @Contador = @Contador - 1
END