-- Initialize DIS_STM_PortsByComputer parameter. True if exists any configuration by computer name or IP.
DELETE FROM SYST_CCPP_00000100 WHERE ParName LIKE 'DIS_STM_PortsByComputer' 

DECLARE @recID int
SET @recID = ISNULL((SELECT TOP (1) RecID FROM SYST_CCPP_00000100 WHERE ParName LIKE 'DIS_STM_InterfaceWithApplications_%'), 0)

IF (@recID > 0)
BEGIN
	DECLARE @nextRecID int
	SET @nextRecID = (SELECT TOP(1) RecID FROM SYST_CCPP_00000100 ORDER BY RecID DESC)
	SET @nextRecID = @nextRecID + 1
	
	INSERT INTO SYST_CCPP_00000100 (EType, EName, ParName,					 ParValue, RecState, CrtDate,   LastDate,  CrtUser, LastUser, Owner, RecEnt, RecOU, RecSec, CntID, RecID)
						     SELECT EType, EName, 'DIS_STM_PortsByComputer', '1',      RecState, GETDATE(), GETDATE(), CrtUser, LastUser, Owner, RecEnt, RecOU, RecSec, CntID, @nextRecID
							 FROM SYST_CCPP_00000100 
							 WHERE RecID = @RecID

END