
-- Drop new index if exist in some databases.
IF EXISTS (SELECT 1 FROM SYS.INDEXES WHERE name = 'INNOrder')
BEGIN
	DROP INDEX INNOrder ON DIS_NEST_NEST_00000100
END

-- Drop old index.
IF EXISTS (SELECT 1 FROM SYS.INDEXES WHERE name = 'NstOrder')
BEGIN
	DROP INDEX NstOrder ON DIS_NEST_NEST_00000100
END 

CREATE NONCLUSTERED INDEX INNOrder ON DIS_NEST_NEST_00000100 (WrkRef, NOrder, Mstate);