IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'DIS_WindowsUser' AND Object_ID = Object_ID(N'SYST_SSRR_00000200'))
BEGIN	
	ALTER TABLE SYST_SSRR_00000200 ADD DIS_WindowsUser NVARCHAR(255) NOT NULL DEFAULT N''
END