-- @#LONGSCRIPT#@

-- OUTSOURCING INVOICE LINES TO PURCHASE INVOICE LINES.
IF OBJECT_ID ('"OOSS_IINN_00000200"') IS NOT NULL
BEGIN
    DECLARE
    @InvRef nvarchar(40),@LineNum int,@Weight float,@UnitWeight float

    DECLARE CurINVOICE_LINE CURSOR FOR
    SELECT InvRef,LineNum,Weight,UnitWeight
    FROM OOSS_IINN_00000200

    OPEN CurINVOICE_LINE
        FETCH NEXT FROM CurINVOICE_LINE INTO @InvRef,@LineNum,@Weight,@UnitWeight
	    WHILE @@FETCH_STATUS = 0
	    BEGIN
	        UPDATE SSHH_IINN_00000200
	        SET DIS_Weight = @Weight, DIS_UnitWeight = @UnitWeight
	        WHERE InvRef = @InvRef AND LineNum = @LineNum
	        FETCH NEXT FROM CurINVOICE_LINE INTO @InvRef,@LineNum,@Weight,@UnitWeight
	    END
    CLOSE CurInvoice_LINE
    DEALLOCATE CurInvoice_LINE
END