-- @#LONGSCRIPT#@

-- OUTSOURCING INVOICES TO PURCHASE INVOICES.
IF OBJECT_ID ('"OOSS_IINN_00000100"') IS NOT NULL
BEGIN
    DECLARE
        @InvRef nvarchar(40),@SuppRef nvarchar(40),@SuppName nvarchar(255),@EmpRef nvarchar(40),@CDate datetime,@DDate datetime,@Status smallint,@Ipaid tinyint,
        @ICounted tinyint,@IsProform tinyint,@ToAccount tinyint,@PymName nvarchar(255),@PymDsc nvarchar(MAX),@Subtotal float,@TotalWT float,@FinancialC float,
        @OrdRef nvarchar(40),@ShpRef nvarchar(40),@TotalA float,@Address1 nvarchar(255),@Address2 nvarchar(255),@Address3 nvarchar(255),@ZipCode nvarchar(40),
        @State nvarchar(40),@CouName nvarchar(80),@Descrip nvarchar(MAX),@DDisc float,@CurName nvarchar(80),@TaxRef nvarchar(40),@TValue float,@CarRef nvarchar(40),
        @City nvarchar(40),@EDate datetime,@CarrierC float,@CarrierFees smallint,@PFees tinyint,@OwnFees tinyint,@CarName nvarchar(255),@SuppInvRef nvarchar(80),
        @FinancialP float,@RecState smallint,@CrtDate datetime,@LastDate datetime,@CrtUser nvarchar(40),@LastUser nvarchar(40),@Owner nvarchar(40),@RecEnt nvarchar(40),
        @RecOU nvarchar(40),@RecSec int,@CntID int,@RecID int

    SET @RecID = ISNULL((SELECT MAX(RecID) FROM SSHH_IINN_00000100),0)

    DECLARE CurINVOICE CURSOR FOR
    SELECT InvRef,SuppRef,SuppName,EmpRef,CDate,DDate,Ipaid,ICounted,IsProform,ToAccount,PymName,PymDsc,Subtotal,TotalWT,FinancialC,OrdRef,ENDNRef,TotalA,Address1,
    Address2,Address3,ZipCode,State,CouName,Descrip,DDisc,CurName,TaxRef,TValue,CarRef,City,EDate,CarrierC,PFees,OwnFees,CarName,SuppInvRef,FinancialP,RecState,
    CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID
    FROM OOSS_IINN_00000100

    OPEN CurINVOICE
        FETCH NEXT FROM CurINVOICE INTO @InvRef,@SuppRef,@SuppName,@EmpRef,@CDate,@DDate,@Ipaid,@ICounted,@IsProform,@ToAccount,@PymName,@PymDsc,@Subtotal,@TotalWT,
        @FinancialC,@OrdRef,@ShpRef,@TotalA,@Address1,@Address2,@Address3,@ZipCode,@State,@CouName,@Descrip,@DDisc,@CurName,@TaxRef,@TValue,@CarRef,@City,@EDate,
        @CarrierC,@PFees,@OwnFees,@CarName,@SuppInvRef,@FinancialP,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
	    WHILE @@FETCH_STATUS = 0
	    BEGIN
	        SET @RecID = @RecID + 1
	        IF (@IPaid = '1' OR @ICounted = '1' OR @ToAccount = '1') BEGIN SET @Status = '1'END
	        ELSE BEGIN SET @Status = '0' END
	        SET @CarrierFees = '0'
	        IF (@OwnFees = '1') BEGIN SET @CarrierFees = '1' END
	        IF (@PFees = '1') BEGIN SET @CarrierFees = '2' END
	        INSERT INTO SSHH_IINN_00000100 (InvRef,SuppRef,SuppName,EmpRef,CDate,DDate,Status,Ipaid,ICounted,IsProform,ToAccount,PymName,PymDsc,Subtotal,TotalWT,FinancialC,
	        OrdRef,ShpRef,TotalA,Address1,Address2,Address3,ZipCode,State,CouName,Descrip,DDisc,CurName,TaxRef,TValue,CarRef,City,EDate,CarrierC,CarrierFees,PFees,OwnFees,
	        CarName,SuppInvRef,FinancialP,RecState,ElementType,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID,RecID)
            VALUES (@InvRef,@SuppRef,@SuppName,@EmpRef,@CDate,@DDate,@Status,@Ipaid,@ICounted,@IsProform,@ToAccount,@PymName,@PymDsc,@Subtotal,@TotalWT,@FinancialC,@OrdRef,
            @ShpRef,@TotalA,@Address1,@Address2,@Address3,@ZipCode,@State,@CouName,@Descrip,@DDisc,@CurName,@TaxRef,@TValue,@CarRef,@City,@EDate,@CarrierC,@CarrierFees,
            @PFees,@OwnFees,@CarName,@SuppInvRef,@FinancialP,@RecState,1,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID,@RecID)
            FETCH NEXT FROM CurINVOICE INTO @InvRef,@SuppRef,@SuppName,@EmpRef,@CDate,@DDate,@Ipaid,@ICounted,@IsProform,@ToAccount,@PymName,@PymDsc,@Subtotal,@TotalWT,
            @FinancialC,@OrdRef,@ShpRef,@TotalA,@Address1,@Address2,@Address3,@ZipCode,@State,@CouName,@Descrip,@DDisc,@CurName,@TaxRef,@TValue,@CarRef,@City,@EDate,
            @CarrierC,@PFees,@OwnFees,@CarName,@SuppInvRef,@FinancialP,@RecState,@CrtDate,@LastDate,@CrtUser,@LastUser,@Owner,@RecEnt,@RecOU,@RecSec,@CntID
	    END
    CLOSE CurInvoice
    DEALLOCATE CurInvoice
END