-- @#LONGSCRIPT#@

UPDATE GLS_IITT_IITT_00000200 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40

UPDATE GLS_IITT_IIVV_00000100 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40