IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'DIS_OprAlias' AND Object_ID = Object_ID(N'MMNN_OOPP_00000100'))
BEGIN
	ALTER TABLE MMNN_OOPP_00000100 ADD DIS_OprAlias NVARCHAR(10) NOT NULL DEFAULT N''
END

IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'DIS_RouteAbbreviation' AND Object_ID = Object_ID(N'PPRR_PPRR_00000100'))
BEGIN
	ALTER TABLE PPRR_PPRR_00000100 ADD DIS_RouteAbbreviation NVARCHAR(255) NOT NULL DEFAULT N''
END

IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'DIS_RouteAbbreviation' AND Object_ID = Object_ID(N'MMNN_MMOO_00000100'))
BEGIN
	ALTER TABLE MMNN_MMOO_00000100 ADD DIS_RouteAbbreviation NVARCHAR(255) NOT NULL DEFAULT N''
END