-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'GLS_IITT_IITT_00000200' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'GLS_IITT_IITT_00000200.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'GLS_IITT_IIVV_00000100' AND COLUMN_NAME = 'DIS_Weight')
BEGIN
    EXEC sp_rename 'GLS_IITT_IIVV_00000100.DIS_Weight', 'DEL_DIS_Weight';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'GLS_IITT_PPVV_00000100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'GLS_IITT_PPVV_00000100.USCName', 'DEL_USCName';
END