-- @#LONGSCRIPT#@

-- The new PK adds GLS_Var1. Recalculate the new PKs taking it into account.
DECLARE
@lRecID int,
@lPrdRef nvarchar(40),
@lNumID int,
@lGLSVar1 nvarchar(40),
@PrimaryKey nvarchar(120),
@lNumIDToSet int

SET @lNumIDToSet=0
SET @PrimaryKey = ''

DECLARE CursorCosts CURSOR STATIC FOR
SELECT RecID,PrdRef,NumID,GLS_Var1 FROM MMNN_PPOO_00000300
WHERE CType=4
AND GLS_Var1 <> ''
ORDER BY PrdRef,NumID,GLS_Var1

OPEN CursorCosts
FETCH NEXT FROM CursorCosts INTO @lRecID,@lPrdRef,@lNumID,@lGLSVar1
WHILE @@FETCH_STATUS = 0
BEGIN
	IF (@PrimaryKey <> @lPrdRef + '@#SEP#@' + CAST(@lNumID as nvarchar(40)) + '@#SEP#@' + @lGLSVar1)
	BEGIN
		SET @PrimaryKey = @lPrdRef + '@#SEP#@' + CAST(@lNumID as nvarchar(40)) + '@#SEP#@' + @lGLSVar1
		SET @lNumIDToSet = @lNumIDToSet + 1
	END
	UPDATE MMNN_PPOO_00000300
	SET NumID = @lNumIDToSet
	WHERE RecID = @lRecID
	FETCH NEXT FROM CursorCosts INTO @lRecID,@lPrdRef,@lNumID,@lGLSVar1
END
CLOSE CursorCosts
DEALLOCATE CursorCosts