-- @#LONGSCRIPT#@

UPDATE MMNN_MMOO_00000100 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40
UPDATE MMNN_MMOO_00000300 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40
UPDATE MMNN_MMOO_00000300 SET PrdRefOrg = substring(PrdRefOrg, 1, 40) where len(PrdRefOrg) > 40
UPDATE MMNN_MMOO_00000300 SET PrdRefDst = substring(PrdRefDst, 1, 40) where len(PrdRefDst) > 40
UPDATE MMNN_MMOO_00000400 SET RawRef = substring(RawRef, 1, 40) where len(RawRef) > 40

UPDATE MMNN_PPOO_00000100 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40
UPDATE MMNN_PPOO_00000200 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40
UPDATE MMNN_PPOO_00000300 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40
UPDATE MMNN_PPOO_00000300 SET RawRef = substring(RawRef, 1, 40) where len(RawRef) > 40

UPDATE MMNN_OOPP_00000200 SET RawRef = substring(RawRef, 1, 40) where len(RawRef) > 40