-- @#LONGSCRIPT#@

UPDATE PPRR_PPRR_00000500 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40
UPDATE PPRR_PPRR_00000600 SET PrdRefOrg = substring(PrdRefOrg, 1, 40) where len(PrdRefOrg) > 40
UPDATE PPRR_PPRR_00000600 SET PrdRefDst = substring(PrdRefDst, 1, 40) where len(PrdRefDst) > 40
UPDATE PPRR_PPRR_00000700 SET PrdRef = substring(PrdRef, 1, 40) where len(PrdRef) > 40