
-- Update new fields: UnitWeight, Weight
UPDATE SSPP_SSHH_00000100 
SET SSPP_SSHH_00000100.UnitWeight = 
 ISNULL((SELECT UnitWeight 
		FROM OOSS_EXDN_00000200 
		WHERE	(SSPP_SSHH_00000100.AssocElementReference = OOSS_EXDN_00000200.DNRef) AND
				(SSPP_SSHH_00000100.AssocElementLineNum = OOSS_EXDN_00000200.LineNum)), 0)
		WHERE AssocElementType = 1

UPDATE SSPP_SSHH_00000100 SET Weight = UnitWeight * Quantity
