-- @#LONGSCRIPT#@

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'BBKK_BBKK_00000200')
BEGIN

	IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'BBKK_BBKK_00000200' AND COLUMN_NAME = 'Accounted')
	BEGIN
		ALTER TABLE BBKK_BBKK_00000200 ADD Accounted tinyint NOT NULL DEFAULT (0)
	END
	
END