IF NOT EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Lantek360Map' AND TABLE_SCHEMA = 'dbo')
BEGIN
	CREATE TABLE [dbo].[Lantek360Map](
	    [Id] [bigint] IDENTITY(1,1) NOT NULL,
	    [TblRef] [nvarchar](50) NOT NULL,
	    [RecID] [int] NOT NULL,
	    [UUID] [uniqueidentifier] NOT NULL,
	    [LastDate] [datetime] NOT NULL,
	    CONSTRAINT [PK_Lantek360Map] PRIMARY KEY CLUSTERED (
          [Id] ASC
	    )
	    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	)
	ON [PRIMARY]
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'Uploaded' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
	ALTER TABLE Lantek360Map ADD Uploaded bit NOT NULL default 0
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'SherlockComm' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
	ALTER TABLE Lantek360Map ADD SherlockComm bit NOT NULL default 1
END