
-- Initialize beams area with profile format AreaByLength (only buy)
UPDATE PPRR_PPRR_00000100 SET DIS_Area = ISNULL((SELECT AreaByLength FROM DIS_PPFF_PPFF_00000100 WHERE DIS_PPFF_PPFF_00000100.PrfFRef = PPRR_PPRR_00000100.DIS_FormatRef),0) WHERE (DIS_PClass = '55' and PType= 1)

-- Initialize beam parts AreaByLength by with profile format AreaByLength
UPDATE PPRR_PPRR_00000100 SET DIS_AreaByLength = ISNULL((SELECT AreaByLength FROM DIS_PPFF_PPFF_00000100 WHERE DIS_PPFF_PPFF_00000100.PrfFRef = PPRR_PPRR_00000100.DIS_FormatRef),0) WHERE DIS_PClass = '56'

-- Initialize beam parts WeightByLength by with beam Weight
UPDATE PPRR_PPRR_00000100 SET DIS_WeightByLength = ISNULL((SELECT Weight FROM PPRR_PPRR_00000100 B WHERE B.PrdRef = A.DIS_ProfileRef and B.DIS_PClass = '55'),0) from PPRR_PPRR_00000100 A WHERE A.DIS_PClass = '56'

--Initialize beam parts External Area, Rectangular Area, External Weight and Rectangular Weight
UPDATE PPRR_PPRR_00000100 SET DIS_RectArea = (DIS_AreaByLength * DIS_Length)/1000  WHERE DIS_PClass = '56'
UPDATE PPRR_PPRR_00000100 SET DIS_RectWeight = (DIS_WeightByLength * DIS_Length)/1000  WHERE DIS_PClass = '56'
UPDATE PPRR_PPRR_00000100 SET DIS_ExtArea = DIS_RectArea  WHERE DIS_PClass = '56'
UPDATE PPRR_PPRR_00000100 SET DIS_ExtWeight = DIS_RectWeight WHERE DIS_PClass = '56'

--Initialize beam parts Area and Weight with Rectangular Area and Weight if they are 0
UPDATE PPRR_PPRR_00000100 SET DIS_Area = DIS_RectArea  WHERE (DIS_PClass = '56' and DIS_Area = 0)
UPDATE PPRR_PPRR_00000100 SET Weight = DIS_RectWeight WHERE (DIS_PClass = '56' and Weight = 0)