-- Initialize AreaByLength in DIS_PPFF_PPFF_00000100
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + T1))/1000 where Type = 0 -- Plate B
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + H - (2.0 * R)) + (PI() * R))/1000 where Type = 100 -- Profile T
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + H - R) + ((PI() * R) / 2.0))/1000 where Type = 200 -- Profile L
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + (2.0 * H) + ((PI() - 4) * R) - T1))/1000 where Type = 300 -- Profile I
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + (2.0 * H) - (2.0 * R) - T1) + PI() * R) / 1000 where Type = 400 and AV1 > 0.5 -- Perfil U option A
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + (2.0 * H) - (4.0 * R) - T1) + PI() * R) / 1000 where Type = 400 and AV1 <= 0.5 and (R - T1 <= 0.0) -- Perfil U option B
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = ((2.0 * (W + (2.0 * H) - (4.0 * R) - T1) + PI() * R) + (PI() * (R - T1))) / 1000 where Type = 400 and AV1 <= 0.5 and (R - T1 > 0.0) -- Perfil U option C
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + H - (4.0 * R) + (PI() * R)))/1000 where Type = 500 -- Rectangular Tube M
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = ((2.0 * PI() * W) / 2.0)/1000 where Type = 600 -- Rounded Tube RO
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + (2.0 * AV1) + (2.0 * H) - (8.0 * R) - T1) + (PI() * R)) / 1000 where Type = 800 and (R - T1 <= 0.0) -- Perfil C option A
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = ((2.0 *(W + (2.0 * AV1) + (2.0 * H) - (8.0 * R) - T1) + (PI() * R) + (2.0 * PI() * (R - T1)))) / 1000 where Type = 800 and (R - T1 > 0.0) -- Perfil C option B
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (3.0 * W)/1000 where Type = 900 -- Tube triangle
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W - H) + (PI() * H))/1000  where Type = 1000 -- Tube obround
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + H) + (PI() * H / 2.0))/1000  where Type = 1100 -- Tube semiobround
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (PI() * ((3.0 * (W + H)) - SQRT(((3.0 * W) + H) + ((3.0 * H) + W))))/1000  where Type = 1300 -- Elliptical tube
UPDATE DIS_PPFF_PPFF_00000100 SET AreaByLength = (2.0 * (W + H))/1000  where Type not in (0,100,200,300,400,500,600,800,900,1000,1100,1300) -- Default