
-- Update new fields: UnitWeight, Weight
UPDATE SSPP_SSHH_00000100 
SET SSPP_SSHH_00000100.UnitWeight = 
 ISNULL((SELECT UnitWeight 
		FROM SSAA_SSHH_00000200 
		WHERE	(SSPP_SSHH_00000100.AssocElementReference = SSAA_SSHH_00000200.ShpRef) AND
				(SSPP_SSHH_00000100.AssocElementLineNum = SSAA_SSHH_00000200.LineNum)), 0)
		WHERE AssocElementType = 0

UPDATE SSPP_SSHH_00000100 SET Weight = UnitWeight * Quantity
