-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'DIS_NEST_NEST_00000100' AND COLUMN_NAME = 'NState')
BEGIN
    EXEC sp_rename 'DIS_NEST_NEST_00000100.NState', 'DEL_NState';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'DIS_NEST_NEST_00000200' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'DIS_NEST_NEST_00000200.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'DIS_NEST_NEST_00000600' AND COLUMN_NAME = 'SerialNo')
BEGIN
    EXEC sp_rename 'DIS_NEST_NEST_00000600.SerialNo', 'DEL_SerialNo';
END