-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'WWHH_MMVV_00000100' AND COLUMN_NAME = 'DIS_VarList')
BEGIN
    EXEC sp_rename 'WWHH_MMVV_00000100.DIS_VarList', 'DEL_DIS_VarList';
END