CREATE TRIGGER [dbo].[trg_CompaniesTrigger]
ON [LSystemDB].[dbo].[CCOO_CCOO_00000100]
AFTER INSERT, UPDATE
AS
BEGIN
    INSERT INTO RegistersLog.dbo.Companies (ComRef,ComName,ComIntName,Sector,VATNum,NumEmployees,CurName,Turnover,Zone,IsLead,IsCust,IsSupp,IsComp,	IsDist,IsPart,Address1,Address2,
	Address3,ZipCode,City,State,CouName,Phone,Fax,Web,EMail,DigitalSignatureEMail,KeyWords,Descrip,LanName,Locked,IsCarr,DunningLvl,Inactive,DIS_ReturnPackageNum,
	DIS_StartBufferTime,DIS_FinishBufferTime,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,	RecEnt,RecOU,RecSec,CntID,RecID,END_CompanySageTemplate)
    SELECT I.ComRef,I.ComName,I.ComIntName,I.Sector,I.VATNum,I.NumEmployees,I.CurName,I.Turnover,I.Zone,I.IsLead,I.IsCust,I.IsSupp,I.IsComp,
	I.IsDist,I.IsPart,I.Address1,I.Address2,I.Address3,I.ZipCode,I.City,I.State,I.CouName,I.Phone,I.Fax,I.Web,I.EMail,I.DigitalSignatureEMail,I.KeyWords,I.Descrip,I.LanName,
	I.Locked,I.IsCarr,I.DunningLvl,I.Inactive,I.DIS_ReturnPackageNum,I.DIS_StartBufferTime,I.DIS_FinishBufferTime,I.RecState,I.CrtDate,I.LastDate,I.CrtUser,I.LastUser,I.Owner,
	I.RecEnt,I.RecOU,I.RecSec,I.CntID,I.RecID,I.END_CompanySageTemplate
    FROM Inserted I
    WHERE NOT EXISTS (
        SELECT 1 
        FROM RegistersLog.dbo.Companies C
        WHERE C.RecId = I.RecId
    );
END;