CREATE TRIGGER [dbo].[trg_InvoiceTrigger]
ON [LSystemDB].[dbo].[SSAA_IINN_00000100]
AFTER INSERT, UPDATE
AS
BEGIN
	IF(UPDATE(status))
	BEGIN
		INSERT INTO RegistersLog.dbo.Invoices (InvRef,CusRef,CusName,CusORef,Contact,ConSurname1,EmpRef,Project,CDate,DDate,Status,EDate,IPaid,ICounted,IsProform,IType,PymName,
		PymDsc,ToAccount,DDisc,TarRef,CurName,TaxRef,TValue,Subtotal,TotalWT,FinancialC,OrdRef,ShpRef,CntRef,TotalA,Address1,Address2,Address3,ZipCode,City,State,CouName,SAddress1,
		SAddress2,SAddress3,SZipCode,SCity,SState,SCouName,CarRef,CarrierC,NumPack,Descrip,CarName,FinancialP,InvWeight,CarrierFees,PFees,OwnFees,InvRefOrg,ClosedDate,CrtRef,DelTerms,
		Port,NatTrans,ModTrans,StatReg,OperationType,EarlyPymName,ToAccrue,PeriodFrequency,PeriodsNumber,AccrualSDate,AmountToAccrue,AccrualAmount,Accrued,CustomerBankAccount,
		InternalBankAccount,DIS_ECusRef,DIS_ECusName,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID,RecID)
		SELECT 	I.InvRef,I.CusRef,I.CusName,I.CusORef,I.Contact,I.ConSurname1,I.EmpRef,I.Project,I.CDate,I.DDate,I.Status,I.EDate,I.IPaid,I.ICounted,I.IsProform,I.IType,I.PymName,
		I.PymDsc,I.ToAccount,I.DDisc,I.TarRef,I.CurName,I.TaxRef,I.TValue,I.Subtotal,I.TotalWT,I.FinancialC,I.OrdRef,I.ShpRef,I.CntRef,I.TotalA,I.Address1,I.Address2,I.Address3,
		I.ZipCode,I.City,I.State,I.CouName,I.SAddress1,I.SAddress2,I.SAddress3,I.SZipCode,I.SCity,I.SState,I.SCouName,I.CarRef,I.CarrierC,I.NumPack,I.Descrip,I.CarName,I.FinancialP,
		I.InvWeight,I.CarrierFees,I.PFees,I.OwnFees,I.InvRefOrg,I.ClosedDate,I.CrtRef,I.DelTerms,I.Port,I.NatTrans,I.ModTrans,I.StatReg,I.OperationType,I.EarlyPymName,I.ToAccrue,
		I.PeriodFrequency,I.PeriodsNumber,I.AccrualSDate,I.AmountToAccrue,I.AccrualAmount,I.Accrued,I.CustomerBankAccount,I.InternalBankAccount,I.DIS_ECusRef,I.DIS_ECusName,I.RecState,
		I.CrtDate,I.LastDate,I.CrtUser,I.LastUser,I.Owner,I.RecEnt,I.RecOU,I.RecSec,I.CntID,I.RecID
		FROM Inserted I
		WHERE I.status = 1
		AND NOT EXISTS (
			SELECT 1 
			FROM RegistersLog.dbo.Invoices L
			WHERE L.RecId = I.RecId
		);
		
		INSERT INTO RegistersLog.dbo.InvoiceLines (InvRef, LineNum,LineNumOrg,AssocElement,AssocElementCode,PrdName,Quantity,UCtName,UntName,UnitWeight,Weight,UPrice,Disc,TPrice,TaxRef,
												TaxValue,TaxAmount,DDate,InvRefOrg,InvLineNumOrg,OrdRef,OLineNum,InvPlanLineID,ShpRef,SLineNum,PrjRef,Budget,BLineNum,CrtRef,CrtLineNum,
												WBSRef,Descrip,LineOriginElementType,GLS_Var1,GLS_Var2,GLS_Var3,GLS_Var4,GLS_Var5,DIS_IsWeightBased,DIS_WGHUCtName,DIS_WGHUntName,
												DIS_QUANUCtName,DIS_QUANUntName,RecState,CrtDate,LastDate,CrtUser,LastUser,Owner,RecEnt,RecOU,RecSec,CntID,RecID)
		SELECT T.InvRef, T.LineNum,T.LineNumOrg,T.AssocElement,T.AssocElementCode,T.PrdName,T.Quantity,T.UCtName,T.UntName,T.UnitWeight,T.Weight,T.UPrice,T.Disc,T.TPrice,T.TaxRef,
			T.TaxValue,T.TaxAmount,T.DDate,T.InvRefOrg,T.InvLineNumOrg,T.OrdRef,T.OLineNum,T.InvPlanLineID,T.ShpRef,T.SLineNum,T.PrjRef,T.Budget,T.BLineNum,T.CrtRef,T.CrtLineNum,
			T.WBSRef,T.Descrip,T.LineOriginElementType,T.GLS_Var1,T.GLS_Var2,T.GLS_Var3,T.GLS_Var4,T.GLS_Var5,T.DIS_IsWeightBased,T.DIS_WGHUCtName,T.DIS_WGHUntName,T.DIS_QUANUCtName,
			T.DIS_QUANUntName,T.RecState,T.CrtDate,T.LastDate,T.CrtUser,T.LastUser,T.Owner,T.RecEnt,T.RecOU,T.RecSec,T.CntID,T.RecID
		FROM LSystemDB.dbo.SSAA_IINN_00000200 T
		INNER JOIN Inserted I
			ON T.InvRef = I.InvRef
		WHERE I.status = 1
		AND NOT EXISTS (
			SELECT 1 
			FROM RegistersLog.dbo.InvoiceLines L
			WHERE L.RecId = T.RecId
		);
	END
END;

	