IF NOT EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Lantek360Map' AND TABLE_SCHEMA = 'dbo')
BEGIN
	CREATE TABLE [dbo].[Lantek360Map](
	    [Id] [bigint] IDENTITY(1,1) NOT NULL,
	    [TblRef] [nvarchar](50) NOT NULL,
	    [RecID] [int] NOT NULL,
	    [UUID] [uniqueidentifier] NOT NULL,
	    [LastDate] [datetime] NOT NULL,
	    CONSTRAINT [PK_Lantek360Map] PRIMARY KEY CLUSTERED (
          [Id] ASC
	    )
	    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	)
	ON [PRIMARY]
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'Uploaded' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
	ALTER TABLE Lantek360Map ADD Uploaded bit NOT NULL default 0
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'SherlockComm' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
	ALTER TABLE Lantek360Map ADD SherlockComm bit NOT NULL default 1
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'UsedByFlags' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
	ALTER TABLE Lantek360Map ADD UsedByFlags int NOT NULL default 0
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'RootTblRef' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
    ALTER TABLE Lantek360Map ADD RootTblRef nvarchar(50) NULL 
END
IF NOT EXISTS(SELECT * FROM sys.columns WHERE Name = N'RootRecId' AND Object_ID = Object_ID(N'Lantek360Map'))
BEGIN
    ALTER TABLE Lantek360Map ADD RootRecId int NULL
END

/* Create indexes */
IF NOT EXISTS (SELECT 1 FROM sys.indexes I INNER JOIN sys.tables T ON I.object_id = T.object_id INNER JOIN sys.schemas S ON S.schema_id = T.schema_id WHERE I.Name = 'INTblRefRecId' AND T.Name = 'Lantek360Map' AND S.Name = 'dbo') 
BEGIN
    CREATE NONCLUSTERED INDEX [INTblRefRecId] ON [dbo].[Lantek360Map]([TblRef], [RecID])
END

IF NOT EXISTS (SELECT 1 FROM sys.indexes I INNER JOIN sys.tables T ON I.object_id = T.object_id INNER JOIN sys.schemas S ON S.schema_id = T.schema_id WHERE I.Name = 'INUUID' AND T.Name = 'Lantek360Map' AND S.Name = 'dbo') 
BEGIN
    CREATE NONCLUSTERED INDEX [INUUID] ON [dbo].[Lantek360Map]([UUID])
END

IF NOT EXISTS (SELECT 1 FROM sys.indexes I INNER JOIN sys.tables T ON I.object_id = T.object_id INNER JOIN sys.schemas S ON S.schema_id = T.schema_id WHERE I.Name = 'INRootTblRefRootRecId' AND T.Name = 'Lantek360Map'  AND S.Name = 'dbo') 
BEGIN
    CREATE NONCLUSTERED INDEX [INRootTblRefRootRecId] ON [dbo].[Lantek360Map]([RootTblRef] ASC, [RootRecId] ASC)
END