-- @#LONGSCRIPT#@

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AACC_AACC_00000200' AND COLUMN_NAME = 'Suffix')
BEGIN
    ALTER TABLE AACC_AACC_00000200 ADD Suffix nvarchar(3) DEFAULT(N'') NOT NULL
END