
IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'LicGrp')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.LicGrp', 'DEL_LicGrp';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'CommDesc')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.CommDesc', 'DEL_CommDesc';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'OCou')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.OCou', 'DEL_OCou';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000600' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000600.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000700' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000700.USCName', 'DEL_USCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00001100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00001100.USCName', 'DEL_USCName';
END
