-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'QQTT_QQTT_00000200' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'QQTT_QQTT_00000200.USCName', 'DEL_USCName';
END