-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPMM_PPMM_00000100' AND COLUMN_NAME = 'InvMethod')
BEGIN
    EXEC sp_rename 'PPMM_PPMM_00000100.InvMethod', 'DEL_InvMethod';
END