-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'DIS_F3D')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.DIS_F3D', 'DEL_DIS_F3D';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'DIS_M3D')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.DIS_M3D', 'DEL_DIS_M3D';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'DIS_V3D')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.DIS_V3D', 'DEL_DIS_V3D';
END