-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'QQTT_QQTT_00000200' AND COLUMN_NAME = 'DIS_WGHUSCName')
BEGIN
    EXEC sp_rename 'QQTT_QQTT_00000200.DIS_WGHUSCName', 'DEL_DIS_WGHUSCName';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'QQTT_QQTT_00000200' AND COLUMN_NAME = 'DIS_QUANUSCName')
BEGIN
    EXEC sp_rename 'QQTT_QQTT_00000200.DIS_QUANUSCName', 'DEL_DIS_QUANUSCName';
END