-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'DIS_CCTT_TTLL_00000100' AND COLUMN_NAME = 'TeoricalLifeTool')
BEGIN
    EXEC sp_rename 'DIS_CCTT_TTLL_00000100.TeoricalLifeTool', 'DEL_TeoricalLifeTool';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'DIS_CCTT_TTLL_00000100' AND COLUMN_NAME = 'RealLifeTool')
BEGIN
    EXEC sp_rename 'DIS_CCTT_TTLL_00000100.RealLifeTool', 'DEL_RealLifeTool';
END