-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'DIS_DUCT_FFEE_00000100' AND COLUMN_NAME = 'USCName')
BEGIN
    EXEC sp_rename 'DIS_DUCT_FFEE_00000100.USCName', 'DEL_USCName';
END