-- @#LONGSCRIPT#@

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'GLS_USCName1')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.GLS_USCName1', 'DEL_GLS_USCName1';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'GLS_USCName2')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.GLS_USCName2', 'DEL_GLS_USCName2';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'GLS_USCName3')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.GLS_USCName3', 'DEL_GLS_USCName3';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'GLS_USCName4')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.GLS_USCName4', 'DEL_GLS_USCName4';
END

IF EXISTS  (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'PPRR_PPRR_00000100' AND COLUMN_NAME = 'GLS_USCName5')
BEGIN
    EXEC sp_rename 'PPRR_PPRR_00000100.GLS_USCName5', 'DEL_GLS_USCName5';
END