/* Update the RootTblRef and RootRecID fields: operations, sheet material formats, employees assigned to workcenter  */
IF EXISTS(SELECT 1 FROM Lantek360Map WHERE TblRef = N'MMNN_OOPP_00000100' AND RootTblRef IS NULL)
BEGIN 
    UPDATE Lantek360Map SET RootTblRef = N'WWCC_WWCC_00000100', RootRecId = (SELECT W.RecId FROM MMNN_OOPP_00000100 O INNER JOIN WWCC_WWCC_00000100 W ON W.WrkRef = O.WrkRef WHERE O.RecId = Lantek360Map.RecId)
    WHERE Lantek360Map.TblRef = N'MMNN_OOPP_00000100' AND RootTblRef IS NULL
END
IF EXISTS(SELECT 1 FROM Lantek360Map WHERE TblRef = N'DIS_MMTT_MMTT_00000200' AND RootTblRef IS NULL)
BEGIN 
    UPDATE Lantek360Map SET RootTblRef = N'DIS_MMTT_MMTT_00000100', RootRecId = (SELECT M.RecId FROM DIS_MMTT_MMTT_00000200 T INNER JOIN DIS_MMTT_MMTT_00000100 M ON M.MatRef = T.MatRef WHERE T.RecId = Lantek360Map.RecId)
    WHERE Lantek360Map.TblRef = N'DIS_MMTT_MMTT_00000200' AND RootTblRef IS NULL
END
IF EXISTS(SELECT 1 FROM Lantek360Map WHERE TblRef = N'WWCC_WWCC_00000200' AND RootTblRef IS NULL)
BEGIN 
    UPDATE Lantek360Map SET RootTblRef = N'EEMM_EEMM_00000100', RootRecId = (SELECT E.RecId FROM WWCC_WWCC_00000200 A INNER JOIN EEMM_EEMM_00000100 E ON E.EmpRef = A.EmpRef WHERE A.RecId = Lantek360Map.RecId)
    WHERE Lantek360Map.TblRef = N'WWCC_WWCC_00000200' AND RootTblRef IS NULL
END