IF NOT EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'Lantek360MapLog' AND TABLE_SCHEMA = 'dbo')
BEGIN
	CREATE TABLE [dbo].[Lantek360MapLog](
	    [Id] [bigint] IDENTITY(1,1) NOT NULL,
	    [TblRef] [nvarchar](50) NOT NULL,
	    [RecID] [int] NOT NULL,
	    [Level] [smallint] NOT NULL,
	    [Code] [nvarchar](100) NOT NULL,
        [Message] [nvarchar](100) NOT NULL,
        [Date] [datetime] NOT NULL,
        [UsedByFlags] [int] NOT NULL default 0,
	    [LogWriteDate] [datetime] NOT NULL,
		[NotificationSuccess] [bit] NOT NULL default 0
		CONSTRAINT [PK_Lantek360MapLog] PRIMARY KEY CLUSTERED (
          [Id] ASC
	    )
	    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	)
	ON [PRIMARY];

    CREATE NONCLUSTERED INDEX INTblRefRecID ON [dbo].[Lantek360MapLog] ([TblRef], [RecID]);
END