-- @#LONGSCRIPT#@

-- Every beam which is not an assembly must have its type declared as 'purchasing'
UPDATE PPRR_PPRR_00000100 SET PType = 1 WHERE DIS_PClass = 55 AND [Assembly] = 0

UPDATE PPRR_PPRR_00000100 SET DIS_CanSplit = 1 WHERE DIS_PClass = 56



